.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}

.maincontent .slider_goods {
      width: 230px;
      float: left;
      border: 2px solid #e2001a;
      padding: 1px 30px 1px 17px;
      height: 480px;
      position: relative;}

    /* line 894, ../sass/screen.scss */
    .maincontent .slider_goods .slide-list {
      position: relative;
      margin: 0;
      padding: 0;
      /* ╨б╨║╤А╨╛╨╡╨╝ ╤В╨╛ ╤З╤В╨╛ ╨▓╤Л╤Е╨╛╨┤╨╕╤В ╨╖╨░ ╨│╤А╨░╨╜╨╕╤Ж╤Л */
      overflow: hidden;
      margin-top: 3px;
      margin-left: 3px; }
    /* line 903, ../sass/screen.scss */
    .maincontent .slider_goods .slide-wrap {
      position: relative;
      left: 0px;
      top: 0;
      /* ╨╝╨░╨║╤Б╨╕╨╝╨░╨╗╤М╨╜╨╛ ╨▓╨╛╨╖╨╝╨╛╨╢╨╜╨░╤П ╤И╨╕╤А╨╕╨╜╨░ ╨╛╨▒╨╡╤А╤В╨║╨╕ ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░ */
      width: 10000000px; }
    /* line 910, ../sass/screen.scss */
    .maincontent .slider_goods .slide-item {
      /* ╨и╨╕╤А╨╕╨╜╨░ ╤Б╨╗╨░╨╣╨┤╨░ */
      width: 213px;
      /* ╨Т╨╜╤Г╤В╤А╨╡╨╜╨╜╨╕╨╡ ╨╛╤В╤Б╤В╤Г╨┐╤Л */
      padding: 10px;
      /* ╨Ю╨▒╤В╨╡╨║╨░╨╜╨╕╨╡ */
      float: left; }
    /* line 919, ../sass/screen.scss */
    .maincontent .slider_goods .goods {
      margin-bottom: 10px;
      float: left; }
      /* line 925, ../sass/screen.scss */
      .maincontent .slider_goods .goods h4 {
        letter-spacing: 0.2px; }
      /* line 926, ../sass/screen.scss */
      .maincontent .slider_goods .goods div, .maincontent .slider_goods .goods h4 {
        padding-bottom: 4px;
        /*margin-top: -5px; */
      }
      /* line 931, ../sass/screen.scss */
      .maincontent .slider_goods .goods .catalog_goods {
        margin-bottom: 23px; }
      /* line 933, ../sass/screen.scss */
      .maincontent .slider_goods .goods > .description {
        font-family: "Open Sans Semibold", arial;
        font-size: 13px;
        color: #555555;
        background: #e8e8e8;
        padding: 15px 15px 8px 15px;
        margin-bottom: 5px;
        letter-spacing: 0.2px; }
      /* line 943, ../sass/screen.scss */
      .maincontent .slider_goods .goods .artikul {
        font-family: "Open Sans", arial;
        font-size: 13px; }
      /* line 948, ../sass/screen.scss */
      .maincontent .slider_goods .goods .cost {
        font-family: "Open Sans Semibold", arial;
        font-size: 13px;
        color: #777777;
        padding-right: 10px;
        margin-left: 15px; }
      /* line 956, ../sass/screen.scss */
      .maincontent .slider_goods .goods .sale {
        font-family: "Open Sans", arial;
        font-weight: bold;
        color: #e2001a;
        font-size: 18px;
        }
      /* line 964, ../sass/screen.scss */
      .maincontent .slider_goods .goods .prise {
        margin-bottom: 18px;
        padding-top: 5px; }
        
      .maincontent .slider_goods .goods .prise a {
         float: right;
         }
      /* line 969, ../sass/screen.scss */
      .maincontent .slider_goods .goods .prise img {
        vertical-align: top; }

        .maincontent .slider_goods .goods .tocart a,
      .maincontent .slider_goods .goods .tocart button {
         font-family: "Open Sans Semibold", arial;
         font-size: 11px;
         color: #fff;
         background: #e2001a;
         padding: 11px 0px 12px 0px;
         text-decoration: none;
         border: none;
         width: 100%;
         display: inline-block;
         }
      /* line 981, ../sass/screen.scss */
      .maincontent .slider_goods .goods .tocart a:hover,
      .maincontent .slider_goods .goods .tocart button:hover{
        background: #fff;
        color: red;
        border: 1px solid red;
        cursor: pointer;
        padding: 10px 0px 11px 0px;}
      /* line 987, ../sass/screen.scss */
      .maincontent .slider_goods .goods .tocart a:before {
        content: url("/bitrix/templates/main/images/maincontent/cart.png");
        padding-right: 10px;
        vertical-align: sub; }
      /* line 993, ../sass/screen.scss */
      .maincontent .slider_goods .goods .tocart a:hover:before {
        content: url("/bitrix/templates/main/images/maincontent/redcart.png"); }
    /* line 998, ../sass/screen.scss */
    .maincontent .slider_goods .prev-slide {
      position: absolute;
         background: url("/bitrix/templates/main/components/bitrix/catalog.section/h2o_slider/img/left_black_arrow.png");
         background-repeat: no-repeat;
         text-indent: 1000000px;
         /* bottom: 174px; */
         padding-bottom: 19px;
         /* right: 7px; */
         cursor: pointer;
         left: 10px;
         top: 167px; }
    /* line 1009, ../sass/screen.scss */
    .maincontent .slider_goods .prev-slide:hover {
      background: url("img/left_red_arrow.png") no-repeat; }
    /* line 1010, ../sass/screen.scss */
    .maincontent .slider_goods .next-slide:hover {
      background: url("img/right_red_arrow.png") no-repeat; }
    /* line 1011, ../sass/screen.scss */
    .maincontent .slider_goods .next-slide {
         position: absolute;
         background: url("/bitrix/templates/main/components/bitrix/catalog.section/h2o_slider/img/right_black_arrow.png");
         background-repeat: no-repeat;
         text-indent: 1000000px;
         padding-bottom: 19px;
         /* left: 129px; */
         /* bottom: 210px; */
         cursor: pointer;
         width: 14px;
         right: 10px;
         top: 167px;}
  /* line 1024, ../sass/screen.scss */
  .maincontent .slider_goods::-moz-selection {
    background: transparent;
    color: #fff;
    text-shadow: none; }
  /* line 1025, ../sass/screen.scss */
  .maincontent .slider_goods::selection {
    background: transparent;
    color: #fff;
    text-shadow: none; }
  /* line 1027, ../sass/screen.scss */
  .maincontent .slider_inner {
    float: left; }
    /* line 1029, ../sass/screen.scss */
    .maincontent .slider_inner h3 {
      bottom: 511px;
      position: relative;
      left: 55px; }


    .maincontent #spec:before {
      content: url("img/stars.png");
      margin-right: 11px; }
      
      
.main .maincontent .bx_content_section .slider_goods a.image_action {
	width: 100%;
	min-height: 140px;
	display: inline-block;
	text-align: center;
	background: white;
}