.bx-touch    .bx_ordercart td.custom .centered,
td.form .some-class{display: none}


.basket_quantity_control {
	display: inline-block;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
left: 41px;
top: 4px;
}

.basket_quantity_control a {
    background: url("images/arrows.png") no-repeat scroll 0 0 transparent;
    border: 1px solid #D8D8D8;
    display: block;
    height: 10px;
    text-align: center;
    width: 11px;
}

.basket_quantity_control a.plus {
    background-position: 0px 0px;
    border-radius: 5px 5px 0 0;
}

.basket_quantity_control a.minus {
    background-position: 0px -20px;
    border-radius: 0 0 5px 5px;
    margin-top: -1px;
}


#warning_message {
	color: red;
}

.maincontent .sort {
    padding-bottom: 6px; }
  /* line 1266, ../sass/screen.scss */
  .maincontent .sort td {
    font-size: 14px;
    font-family: "Open Sans", arial;
    color: #234E73;
    letter-spacing: .3px; }
  /* line 1273, ../sass/screen.scss */
  .maincontent .sort_wrapp {
    border-bottom: 1px solid #eee;
    padding-bottom: 11px;
    margin-right: 16px; }
  /* line 1279, ../sass/screen.scss */
  .maincontent .name {
    padding-right: 498px; }
  /* line 1280, ../sass/screen.scss */
  .maincontent .kolvo {
    padding-right: 70px; }
  /* line 1281, ../sass/screen.scss */
  .maincontent .cena {
    padding-right: 98px; }
    
    .maincontent .cart_item table .form .goods_number::-webkit-inner-spin-button {
          opacity: 1; }
        /* line 1324, ../sass/screen.scss */
        .maincontent .cart_item table .form .goods_number {
          padding-left: 1px;
          padding-bottom: 7px;
          padding-top: 6px;
          width: 73px; }

td.form {
position: relative;
}

td.form input {
padding-left: 1px;
padding-bottom: 7px;
padding-top: 6px;
width: 73px;
}

    .maincontent .cart_item table {
      margin-left: -1px;
      border: 0;
      border-collapse: collapse; 
      width: 100%;
}

.maincontent .cart_item table .description div {
font-family: "Open Sans Semibold", arial;
font-size: 12px;
color: #777777;
padding-bottom: 18px;
}

.maincontent .cart_item{
	margin-right: 16px;
}

.maincontent h2 {
color: #87888a;
font-size: 18px;
font-family: "Open Sans", arial;
padding-bottom: 8px;
letter-spacing: 0.3px;
}