:focus {
		outline: none;
	}
        
.maincontent {
  padding-bottom: 20px;
}
  /* line 1262, ../sass/screen.scss */
  .maincontent .head {
    padding-bottom: 10px;
    clear: both;}
  /* line 1264, ../sass/screen.scss */
  .maincontent .sort {
    padding-bottom: 6px; }
  /* line 1273, ../sass/screen.scss */
  .maincontent .sort_wrapp {
    border-bottom: 1px solid #eee;
    padding-bottom: 11px;
    margin-right: 16px; }
  /* line 1279, ../sass/screen.scss */
  .maincontent .name {
    padding-right: 498px; }
  /* line 1280, ../sass/screen.scss */
  .maincontent .kolvo {
    padding-right: 70px; }
  /* line 1281, ../sass/screen.scss */
  .maincontent .cena {
    padding-right: 98px; }
  /* line 1283, ../sass/screen.scss */
  .maincontent .cart_item {
    padding-bottom: 33px; }
    /* line 1286, ../sass/screen.scss */
    .maincontent .cart_item table {
      margin-left: -1px;
      border: 0;
      border-collapse: collapse; }
      /* line 1291, ../sass/screen.scss */
      .maincontent .cart_item table .t_img {
        padding-right: 16px;
         width: 140px;
        text-align: center;}
      /* line 1293, ../sass/screen.scss */
      .maincontent .cart_item table .t_img img {
        border: 1px solid #eee; }
      /* line 1296, ../sass/screen.scss */
      .maincontent .cart_item table .description {
        width: 400px;
        letter-spacing: .2px;
        padding-right: 75px; }
        /* line 1301, ../sass/screen.scss */
        .maincontent .cart_item table .description h4 {
          font-family: "Open Sans Semibold", arial;
          font-size: 13px;
          color: #333; }
        /* line 1306, ../sass/screen.scss */
        .maincontent .cart_item table .description div {
          font-family: "Open Sans Semibold", arial;
          font-size: 12px;
          color: #555;
          padding-bottom: 18px; }
        /* line 1312, ../sass/screen.scss */
        .maincontent .cart_item table .description p {
          font-size: 13px;
          color: #777777;
          font-family: "Open Sans Light", arial;
          letter-spacing: .3px; }
      /* line 1320, ../sass/screen.scss */
      .maincontent .cart_item table .form {
        padding-right: 75px; }
        /* line 1322, ../sass/screen.scss */
        .maincontent .cart_item table .form #goods_number::-webkit-inner-spin-button {
          opacity: 1; }
        /* line 1324, ../sass/screen.scss */
        .maincontent .cart_item table .form #goods_number {
          padding-left: 1px;
          padding-bottom: 7px;
          padding-top: 6px;
          width: 73px; }
      /* line 1332, ../sass/screen.scss */
      .maincontent .cart_item table .prise {
        letter-spacing: 1.9px;
        padding-right: 0px; }
        /* line 1336, ../sass/screen.scss */
        .maincontent .cart_item table .prise .cost {
          font-family: "Open Sans Semibold", arial;
          font-size: 13px;
          color: #777777;
          padding-right: 10px; }
          
          .main .maincontent .cost_ot {
		font-family: "Open Sans Semibold", arial;
		font-size: 13px;
		color: #777777;
		padding-right: 5px;
		margin-left: 18px;
	}
        /* line 1343, ../sass/screen.scss */
        .maincontent .cart_item table .prise .sale {
          font-family: "Open Sans", arial;
          font-weight: bold;
          color: #e2001a;
          font-size: 18px;
          padding-right: 26px; }
      /* line 1352, ../sass/screen.scss */
      .maincontent .cart_item table .cart_delete {
        text-align: center; }
        /* line 1355, ../sass/screen.scss */
        .maincontent .cart_item table .cart_delete img {
          padding: 7px;
          border: 1px solid #eee;
          cursor: pointer; }
      /* line 1362, ../sass/screen.scss */
      .maincontent .cart_item table tr {
        border-bottom: 1px solid #eee; }
      /* line 1365, ../sass/screen.scss */
      .maincontent .cart_item table td {
        padding: 11px 0; }
  /* line 1369, ../sass/screen.scss */
  .maincontent .summa {
    height: 44px;
    border-bottom: 1px solid #eee;
    margin-right: 12px;
    padding-bottom: 4px;
    margin-bottom: 9px; }
    /* line 1376, ../sass/screen.scss */
    .maincontent .summa .sum_a {
      margin-top: 3px;
      margin-right: 0px; }
      /* line 1380, ../sass/screen.scss */
      .maincontent .summa .sum_a a {
        text-decoration: none;
        color: #555;
        font-size: 11px;
        font-family: "Open Sans Semibold", arial;
        background: #dbdbdb;
        padding-left: 0px;
        border-bottom: 2px solid #777;
        letter-spacing: 0.3px;
        padding: 9px 33px 10px 31px; }
    /* line 1393, ../sass/screen.scss */
    .maincontent .summa div {
      float: left;
      position: relative; }
    /* line 1395, ../sass/screen.scss */
    .maincontent .summa .sum {
      bottom: 8px;
	float:right; }
    /* line 1396, ../sass/screen.scss */
    .maincontent .summa .nal {
      font-family: "Open Sans", arial;
      font-size: 16px;
      letter-spacing: 0.3px;
      color: #555; }
      /* line 1402, ../sass/screen.scss */
      .maincontent .summa .nal span {
        font-size: 18px;
        color: #e2001a;
        font-family: "Open Sans", arial;
        font-weight: bold; }
    /* line 1410, ../sass/screen.scss */
    .maincontent .summa .beznal {
      font-family: "Open Sans", arial;
      font-size: 13px;
      letter-spacing: 0.3px;
      color: #555;
      float: none;}
      /* line 1416, ../sass/screen.scss */
      .maincontent .summa .beznal span {
        font-size: 14px;
        color: #555;
        font-family: "Open Sans", arial;
        font-weight: bold; }
  /* line 1426, ../sass/screen.scss */
  .maincontent .zakaz .form_zakaz, .maincontent .zakaz .some_text {
    float: left; }
  /* line 1429, ../sass/screen.scss */
  .maincontent .zakaz .form_zakaz {
    margin-left: 2px; }
    /* line 1432, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz input[type='checkbox'] + label {
      padding-left: 31px; }
    /* line 1434, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz input[type='text'] {
      margin-top: 7px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 13px;
      padding-right: 392px;
      margin-bottom: 8px;
      border: 2px solid #eee; }
    /* line 1444, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz p {
      font-family: "Open Sans Semibold", arial;
      color: #555555;
      font-size: 14px;
      padding-bottom: 13px; }
    /* line 1451, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz label {
      color: #777777;
      font-family: "Open Sans", arial;
      font-size: 14px;
      cursor: pointer;
      padding-right: 32px; }
    /* line 1459, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz span {
      font-size: 13px;
      font-family: "Open Sans", arial;
      color: #999999; }
    /* line 1465, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz textarea {
      resize: none;
      width: 576px;
      margin-top: -11px;
      height: 32px;
      border: 2px solid #eee;
      margin-bottom: -4px; }
    /* line 1473, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .status {
      margin-left: -15px;
      padding-bottom: 19px; }
    /* line 1478, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .full_name {
      padding-bottom: 2px; }
    /* line 1482, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .textarea_block {
      padding-bottom: 14px; }
      /* line 1484, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .textarea_block label {
        display: block; }
      /* line 1486, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .textarea_block span {
        display: block;
        margin-bottom: -8px; }
      /* line 1491, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .textarea_block #z_comment {
        height: 46px; }
    /* line 1496, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .method {
      margin-top: -4px;
      margin-left: 2px;
      margin-bottom: 12px; }
      /* line 1501, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .method label {
        font-family: "Open Sans Semibold", arial;
        color: #555555;
        font-size: 13px;
        display: block;
        margin-top: -19px;
        margin-bottom: -4px; }
      /* line 1511, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .method span:not(.redlabel) {
        display: block;
        margin-left: 30px;
        margin-top: 1px;
        margin-bottom: -5px; }
      /* line 1518, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .method .redlabel {
        color: red;
        font-family: "Open Sans Semibold", arial; }
    /* line 1524, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .paymethod {
      padding-bottom: 9px;
      margin-bottom: 5px;
      margin-top: -5px;
      border-bottom: 2px solid #eee; }
      /* line 1530, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .paymethod span {
        display: block;
        margin-left: 29px;
        margin-top: 1px;
        margin-bottom: -10px; }
      /* line 1537, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .paymethod input + label {
        margin-left: -15px; }
    /* line 1542, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .sum {
      margin-bottom: 24px; }
      /* line 1544, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .sum p {
        letter-spacing: 0.3px; }
      /* line 1547, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .sum .itog {
        font-size: 16px;
        font-family: "Open Sans Semibold", arial;
        color: #777777; }
      /* line 1553, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .sum span {
        font-size: 16px;
        font-family: "Open Sans", arial;
        color: #777777; }
      /* line 1559, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .sum .redlabel {
        font-size: 18px;
        color: #e2001a;
        font-family: "Open Sans", arial;
        font-weight: bold; }
    /* line 1567, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .a_done {
      padding-bottom: 36px; }
    /* line 1571, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .done {
      text-decoration: none;
      color: white;
      font-family: "Open Sans Semibold", arial;
      text-decoration: none;
      font-size: 13px;
      background: #e2001a;
      padding-top: 5px;
      padding-bottom: 8px;
      padding-left: 56px;
      padding-right: 48px; }
  /* line 1585, ../sass/screen.scss */
  .maincontent .zakaz .some_text {
    width: 362px;
    width: 348px;
    margin-top: 7px;
    margin-left: -5px;
    border: 2px solid #eee; }
    /* line 1592, ../sass/screen.scss */
    .maincontent .zakaz .some_text p {
      font-family: "Open Sans Light", arial;
      font-size: 13px;
      color: #777777;
      padding-top: 9px;
      padding-left: 20px;
      letter-spacing: 0.3px;
      padding-right: 69px; }
      
.log_cart {
	float: right;
}
.main .logo {
	width: 100%;
}
.main .logo .contact {
	margin-right: 0px!important;
}
.related li {
    display: inline-block;
    margin: 8px 4px 8px 0;
}
.related li::before {
    content: none !important;
}
.related li a {
    border: 2px solid #e8e8e8;
    padding: 4px 8px;
    text-decoration: none;
}
.related li a:hover {
    background-color: #444;
    color: white;
}
/*init*/