.free_deliev img {
		display: inline-block;
		border-radius: 50%;
	}
	.free_deliev p {
		font-size: 14px;
		color: #777777;
		font-family: "Open Sans", arial;
		display: inline-block;
		
		margin-left: 30px;
	}
	.free_deliev span {
		font-size: 14px;
		color: #e2001a;
		font-family: "Open Sans", arial;
	}
	.free_deliev h3 {
		font-family: "Open Sans Semibold", arial;
		font-size: 20px;
		color: #e2001a;
		letter-spacing: .3px;
		display: inline-block;
		margin-left: 30px;
		border: none !important;
	}
	.text_free {
		display: inline-block;
		width: 712px;
		margin-bottom: 20px;
	}