div.bx-system-auth-form span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:bottom; margin-top:-1px;}
div.bx-system-auth-form div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-system-auth-form div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}


.login form input {
background: none;
border: none;
font-family: "Open Sans", arial;
font-size: 13px;
color: #777777;
border-bottom: 1px dotted #777777;
}

.login form input:hover {
cursor: pointer;
}

.login form {
font-family: "Open Sans", arial;
font-size: 13px;
color: #777777;
}