:focus {
		outline: none;
	}
html.bx-no-touch body {
  min-width: 320px; 
}        
.maincontent {
  padding-bottom: 20px;
}
  /* line 1262, ../sass/screen.scss */
  .maincontent .head {
    padding-bottom: 10px;
    clear: both;}
  /* line 1264, ../sass/screen.scss */
  .maincontent .sort {
    padding-bottom: 6px; }
  /* line 1273, ../sass/screen.scss */
  .maincontent .sort_wrapp {
    border-bottom: 1px solid #eee;
    padding-bottom: 11px;
    margin-right: 16px; }
  /* line 1279, ../sass/screen.scss */
  .maincontent .name {
    padding-right: 498px; }
  /* line 1280, ../sass/screen.scss */
  .maincontent .kolvo {
    padding-right: 70px; }
  /* line 1281, ../sass/screen.scss */
  .maincontent .cena {
    padding-right: 98px; }
  /* line 1283, ../sass/screen.scss */
  .maincontent .cart_item {
    padding-bottom: 33px; }
    /* line 1286, ../sass/screen.scss */
    .maincontent .cart_item table {
      margin-left: -1px;
      border: 0;
      border-collapse: collapse; }
      /* line 1291, ../sass/screen.scss */
      .maincontent .cart_item table .t_img {
        padding-right: 16px;
         width: 140px;
        text-align: center;}
      /* line 1293, ../sass/screen.scss */
      .maincontent .cart_item table .t_img img {
        border: 1px solid #eee; }
      /* line 1296, ../sass/screen.scss */
      .maincontent .cart_item table .description {
        width: 400px;
        letter-spacing: .2px;
        padding-right: 75px; }
        /* line 1301, ../sass/screen.scss */
        .maincontent .cart_item table .description h4 {
          font-family: "Open Sans Semibold", arial;
          font-size: 13px;
          color: #333; }
        /* line 1306, ../sass/screen.scss */
        .maincontent .cart_item table .description div {
          font-family: "Open Sans Semibold", arial;
          font-size: 12px;
          color: #555;
          padding-bottom: 18px; }
        /* line 1312, ../sass/screen.scss */
        .maincontent .cart_item table .description p {
          font-size: 13px;
          color: #777777;
          font-family: "Open Sans Light", arial;
          letter-spacing: .3px; }
      /* line 1320, ../sass/screen.scss */
      .maincontent .cart_item table .form {
        padding-right: 75px; }
        /* line 1322, ../sass/screen.scss */
        .maincontent .cart_item table .form #goods_number::-webkit-inner-spin-button {
          opacity: 1; }
        /* line 1324, ../sass/screen.scss */
        .maincontent .cart_item table .form #goods_number {
          padding-left: 1px;
          padding-bottom: 7px;
          padding-top: 6px;
          width: 73px; }
      /* line 1332, ../sass/screen.scss */
      .maincontent .cart_item table .prise {
        letter-spacing: 1.9px;
        padding-right: 0px; }
        /* line 1336, ../sass/screen.scss */
        .maincontent .cart_item table .prise .cost {
          font-family: "Open Sans Semibold", arial;
          font-size: 13px;
          color: #777777;
          padding-right: 10px; }
          
          .main .maincontent .cost_ot {
		font-family: "Open Sans Semibold", arial;
		font-size: 13px;
		color: #777777;
		padding-right: 5px;
		margin-left: 18px;
	}
        /* line 1343, ../sass/screen.scss */
        .maincontent .cart_item table .prise .sale {
          font-family: "Open Sans", arial;
          font-weight: bold;
          color: #e2001a;
          font-size: 18px;
          padding-right: 26px; }
      /* line 1352, ../sass/screen.scss */
      .maincontent .cart_item table .cart_delete {
        text-align: center; }
        /* line 1355, ../sass/screen.scss */
        .maincontent .cart_item table .cart_delete img {
          padding: 7px;
          border: 1px solid #eee;
          cursor: pointer; }
      /* line 1362, ../sass/screen.scss */
      .maincontent .cart_item table tr {
        border-bottom: 1px solid #eee; }
      /* line 1365, ../sass/screen.scss */
      .maincontent .cart_item table td {
        padding: 11px 0; }
  /* line 1369, ../sass/screen.scss */
  .maincontent .summa {
    height: 44px;
    border-bottom: 1px solid #eee;
    margin-right: 12px;
    padding-bottom: 4px;
    margin-bottom: 9px; }
    /* line 1376, ../sass/screen.scss */
    .maincontent .summa .sum_a {
      margin-top: 3px;
      margin-right: 0px; }
      /* line 1380, ../sass/screen.scss */
      .maincontent .summa .sum_a a {
        text-decoration: none;
        color: #555;
        font-size: 11px;
        font-family: "Open Sans Semibold", arial;
        background: #dbdbdb;
        padding-left: 0px;
        border-bottom: 2px solid #777;
        letter-spacing: 0.3px;
        padding: 9px 33px 10px 31px; }
    /* line 1393, ../sass/screen.scss */
    .maincontent .summa div {
      float: left;
      position: relative; }
    /* line 1395, ../sass/screen.scss */
    .maincontent .summa .sum {
      bottom: 8px;
	float:right; }
    /* line 1396, ../sass/screen.scss */
    .maincontent .summa .nal {
      font-family: "Open Sans", arial;
      font-size: 16px;
      letter-spacing: 0.3px;
      color: #555; }
      /* line 1402, ../sass/screen.scss */
      .maincontent .summa .nal span {
        font-size: 18px;
        color: #e2001a;
        font-family: "Open Sans", arial;
        font-weight: bold; }
    /* line 1410, ../sass/screen.scss */
    .maincontent .summa .beznal {
      font-family: "Open Sans", arial;
      font-size: 13px;
      letter-spacing: 0.3px;
      color: #555;
      float: none;}
      /* line 1416, ../sass/screen.scss */
      .maincontent .summa .beznal span {
        font-size: 14px;
        color: #555;
        font-family: "Open Sans", arial;
        font-weight: bold; }
  /* line 1426, ../sass/screen.scss */
  .maincontent .zakaz .form_zakaz, .maincontent .zakaz .some_text {
    float: left; }
  /* line 1429, ../sass/screen.scss */
  .maincontent .zakaz .form_zakaz {
    margin-left: 2px; }
    /* line 1432, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz input[type='checkbox'] + label {
      padding-left: 31px; }
    /* line 1434, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz input[type='text'] {
      margin-top: 7px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 13px;
      padding-right: 392px;
      margin-bottom: 8px;
      border: 2px solid #eee; }
    /* line 1444, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz p {
      font-family: "Open Sans Semibold", arial;
      color: #555555;
      font-size: 14px;
      padding-bottom: 13px; }
    /* line 1451, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz label {
      color: #777777;
      font-family: "Open Sans", arial;
      font-size: 14px;
      cursor: pointer;
      padding-right: 32px; }
    /* line 1459, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz span {
      font-size: 13px;
      font-family: "Open Sans", arial;
      color: #999999; }
    /* line 1465, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz textarea {
      resize: none;
      width: 576px;
      margin-top: -11px;
      height: 32px;
      border: 2px solid #eee;
      margin-bottom: -4px; }
    /* line 1473, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .status {
      margin-left: -15px;
      padding-bottom: 19px; }
    /* line 1478, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .full_name {
      padding-bottom: 2px; }
    /* line 1482, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .textarea_block {
      padding-bottom: 14px; }
      /* line 1484, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .textarea_block label {
        display: block; }
      /* line 1486, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .textarea_block span {
        display: block;
        margin-bottom: -8px; }
      /* line 1491, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .textarea_block #z_comment {
        height: 46px; }
    /* line 1496, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .method {
      margin-top: -4px;
      margin-left: 2px;
      margin-bottom: 12px; }
      /* line 1501, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .method label {
        font-family: "Open Sans Semibold", arial;
        color: #555555;
        font-size: 13px;
        display: block;
        margin-top: -19px;
        margin-bottom: -4px; }
      /* line 1511, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .method span:not(.redlabel) {
        display: block;
        margin-left: 30px;
        margin-top: 1px;
        margin-bottom: -5px; }
      /* line 1518, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .method .redlabel {
        color: red;
        font-family: "Open Sans Semibold", arial; }
    /* line 1524, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .paymethod {
      padding-bottom: 9px;
      margin-bottom: 5px;
      margin-top: -5px;
      border-bottom: 2px solid #eee; }
      /* line 1530, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .paymethod span {
        display: block;
        margin-left: 29px;
        margin-top: 1px;
        margin-bottom: -10px; }
      /* line 1537, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .paymethod input + label {
        margin-left: -15px; }
    /* line 1542, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .sum {
      margin-bottom: 24px; }
      /* line 1544, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .sum p {
        letter-spacing: 0.3px; }
      /* line 1547, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .sum .itog {
        font-size: 16px;
        font-family: "Open Sans Semibold", arial;
        color: #777777; }
      /* line 1553, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .sum span {
        font-size: 16px;
        font-family: "Open Sans", arial;
        color: #777777; }
      /* line 1559, ../sass/screen.scss */
      .maincontent .zakaz .form_zakaz .sum .redlabel {
        font-size: 18px;
        color: #e2001a;
        font-family: "Open Sans", arial;
        font-weight: bold; }
    /* line 1567, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .a_done {
      padding-bottom: 36px; }
    /* line 1571, ../sass/screen.scss */
    .maincontent .zakaz .form_zakaz .done {
      text-decoration: none;
      color: white;
      font-family: "Open Sans Semibold", arial;
      text-decoration: none;
      font-size: 13px;
      background: #e2001a;
      padding-top: 5px;
      padding-bottom: 8px;
      padding-left: 56px;
      padding-right: 48px; }
  /* line 1585, ../sass/screen.scss */
  .maincontent .zakaz .some_text {
    width: 362px;
    width: 348px;
    margin-top: 7px;
    margin-left: -5px;
    border: 2px solid #eee; }
    /* line 1592, ../sass/screen.scss */
    .maincontent .zakaz .some_text p {
      font-family: "Open Sans Light", arial;
      font-size: 13px;
      color: #777777;
      padding-top: 9px;
      padding-left: 20px;
      letter-spacing: 0.3px;
      padding-right: 69px; }
      
.log_cart {
	float: right;
}
.main .logo {
	width: 100%;
}
.main .logo .contact {
	margin-right: 0px!important;
}
.related li {
    display: inline-block;
    margin: 8px 4px 8px 0;
}
.related li::before {
    content: none !important;
}
.related li a {
    border: 2px solid #e8e8e8;
    padding: 4px 8px;
    text-decoration: none;
}
.related li a:hover {
    background-color: #444;
    color: white;
}
/*init*/

/**/
.main .maincontent .content .goods div.wrap-pr { padding-top: 10px!important; }
.main .maincontent .content .tocart button,
.main .maincontent .content .tocart a { width:100%!important; box-sizing: border-box; }
/**/
.wishlist > div { height: 54px; 
/*background: url('images/line.jpg') bottom center repeat-x; */
    border-bottom: 2px solid #d8e3f6; 
    position: relative;
    font-family: Tahoma;
    font-size: 12px;  
    padding: 16px 12px 0;
    box-sizing: border-box; }
.left_side .wishlist > div { padding-left: 0; }
.wishlist > div:last-child { border-bottom: 2px solid #d8e3f6; background: none; }
.catalog-element .wishlist > div { float: left; border-bottom: none!important; background: none; }
.wishlist > div:first-child > div { width: 51%!important; float: left; padding-top:4px; }
.wishlist > div:first-child > div:last-child { 
    width: 49%!important; 
    padding-left: 5px;
    box-sizing: border-box; }
.wishlist > div:first-child > div span { color:#64a804; }
.wishlist .favorites_container > div { width: 70px!important; float: right; }
.wishlist .favorites_container > div p { width: 100%; text-align: left; }
.wishlist .favorites_container > div .vote span { display: inline-block; width:14px; height:12px; }
.wishlist .favorites_container > div .vote span.active { background: url('images/zv.jpg') center bottom no-repeat; }
.wishlist .favorites_container > div .vote span.not { background: url('images/zv.jpg') center top no-repeat; }
.wishlist .favorites_container p {font-size: 12px;
line-height: 14px; margin-top: -4px;
    text-align: right;
    width: 37%;
float: left; }
.wishlist a.favorites { 
    display: block;
    position: relative;
    float: left; margin-top: -2px;
    width: 42px; }
.maincontent h1 { clear: both; display: block; }
.catalog-element .compare { width: 22%; }
.catalog-element .favorites_container { width: 30%; }
.catalog-element .left_side .wishlist a.favorites { position: absolute;
    top: 14px;
    right: 0px; }
.catalog-element .left_side .wishlist .favorites_container p { font-size: 12px;
    line-height: 23px;
    margin-top: -4px;
    text-align: left;
    width: 100%;
    float: left; }
.wishlist a.favorites .added { height: 44px; width: 48px; background: url('images/wishlist.png') center bottom no-repeat; position: absolute; top: -9px; }
.wishlist a.favorites .add { height: 44px; width: 48px; background: url('images/wishlist.png') center top no-repeat; position: absolute; top: -9px; }
.wishlist div.compare input { display: none; }
.wishlist div.compare input:checked + label:after { content:""; display:block; background: url('images/compare.jpg') center bottom no-repeat; }
.wishlist div.compare label {
    position: relative; 
    font-family: Tahoma;
    font-size: 12px; 
    padding: 1px 5px 3px;
    color: #fff; 
    background-color: #505b6a; }
.wishlist div.compare label:after { content:""; display:block; width:18px; height:18px; position: absolute; right: -23px; top: 0; }
.wishlist div.compare label:after { background: url('images/compare.jpg') center top no-repeat; }
/**/
.table_compare > div:first-child { width: 190px; float: left; }
.table_compare > div + div { width: 760px; float: right; }
.table_compare div .compare_item > a.close { width: 13px; height: 13px; display: block; position: absolute; top: 5px; right: 5px; 
    background: url('images/compare_close.png') center center no-repeat; 
    font-size: 0px; }
.table_compare div .compare_item .bx_bt_button {
    background: #e2001a;
    border-radius: 0;
    margin: 0 auto;
    display: block;
    padding: 5px 10px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase; }
.table_compare div .compare_item > a img { margin: 0 auto; display: block; }
.table_compare div .compare_item h5 { display: block; height: 50px; text-align: center; }
.table_compare div .compare_item h5 a { text-decoration: none; }
.table_compare div .compare_item { width: 28%; margin-right: 2%; padding: 0 1.5%; float: left; position:relative;
    border: 1px solid #ccc;
    border-radius: 5px; margin-top: 19px;}
.table_compare div p { 
    font-size: .7em; line-height: 1em;
    height: 20px;
    padding: .818em .273em;
    border-bottom: .091em dotted #787878;
    text-align: center; }
.table_compare div p:last-child { border-bottom: none; }
/**/
.main .logo {
    position: relative;
}
.new-time {
    position: absolute;
    top: 9px;
    line-height: 29px;
    left: 258px;
}
.b-new-review {
    padding-bottom: 15px;
    font-size: 14px;
    color: #333;
}
.no-review .text {
    display: inline-block;
    vertical-align: top;
    width: 451px;
    text-align: center;
    line-height: 1.4;
}
.no-review .btn-review {
    background: #e2001a;
    border: 2px solid #e2001a;
    color: #fff;
    display: inline-block;
    font-family: "Open Sans Semibold",arial;
    font-size: 12px;
    padding: 7px 30px;
    vertical-align: top;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
.yes-review .bs-review {
    padding: 15px 0 0;
}
.yes-review .text {
    display: inline-block;
    vertical-align: top;
}
.yes-review .btn-review {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: #e2001a;
    border-bottom: 1px dotted #e2001a;
}
.yes-review .left {
    float: left;
    width: 100px;
}
.yes-review .right {
    position: relative;
    padding: 15px;
    border: 1px solid #dcdcdc;
    margin-left: 107px;
    border-radius: 10px;
}
.yes-review .right .arr {
    background: url('images/arr.png') 0 0 no-repeat;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 15px;
    left: -9px;
}
/**/
#json { 
    width: 600px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -150px;
    background-color: #fff;
    border: 1px solid #ccc;
}  
#modal-fav > div { 
    width: 60px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    height: 60px;
    position: relative;
    float: left; }
#modal-fav > div img { 
    width: 50px; 
    position: absolute;
    left: 50%;
    margin-left: -25px;}
#mask { 
    background: rgba(0,0,0,.5);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#success {
    width: 500px;
    height: 200px;
    z-index: 9999;
    background-color: #fff;
    position: fixed;
    top: 30px;
    left: 50%;
    margin-left: -250px;
    /*margin-top: -150px;*/
    border: 1px solid #ccc;
    padding: 20px;
}
#success > div:last-child { display:none; }
#success > div:first-child { display:block; }
#success .close {
    cursor: pointer;
    width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    background: url('images/compare_close.png') center center no-repeat; }
#success [class ^= goods-] { text-align: center; } 
#success [class ^= goods-] .image_action,
#success [class ^= goods-] .list_preview_image { width:40%; float:left;}
#success [class ^= goods-] .description { width:55%; float:right; height:140px; display: table; }
#success [class ^= goods-] .description p { border: none!important; }
#success [class ^= goods-] .description a {  
    display: table-cell;
    vertical-align: middle; }
#success [class ^= goods-] .compare-btn { clear:both; padding-top: 10px; }
#success [class ^= goods-] .compare-btn a { text-decoration: none; float: right; }
#success [class ^= goods-] .compare-btn span.buttons { 
    cursor: pointer;
    display: block;
    width: auto;
    float: left;
    background: #e2001a;
    border: 1px solid #e2001a;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: .923em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
#succes [class ^= goods-] .necessary .product_necess { width: 100px; float: left; }
#succes [class ^= goods-] .necessary { 
    position: absolute;
    left: 0;
    bottom: -200px;
    height: 200px;
}
#succes [class ^= goods-] .necessary { display:block!importnt; }
#success .cart-test.necessary { 
    border: 1px solid #ccc;
    border-top: none;   
    display: block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    overflow: hidden;
    left: -0.5px;
    bottom: 0px;
    height: 200px; }

.test p { position: absolute; left:0; width:90%; left:5%; text-align: left; bottom: 0;
    font-size: 10px; }
.test h3 {
margin-top:10px;
    font-size: 14px;
    margin-bottom: 20px;
}
.test > div img { position: absolute; left:50%; margin-left: -25px; }
.test > div { 
position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    height: 70px;
    margin: 0 9px;
    text-align: center;}
.test {
    position: absolute;
    bottom: -100px;
    height: 140px;
    background-color: #fff;
    width: 100%;
left: 0; }

#fx_menu {     
    position: fixed;
    bottom: 0;

    left: 5%;
    width: 560px;
    padding: 9px 10px;
	white-space:nowrap;
    z-index: 100;    
    background: #505b6a; }
#fx_menu a { color: #fff; display:inline-block; vertical-align:top;white-space:nowrap; margin:0 9px !important; }