@charset "UTF-8";
/*@import url(http://allfont.ru/css/?fonts=open-sans-semibold);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
$open: 'Open Sans', sans-serif;;
$semi: 'Open Sans Semibold', arial;*/
/*@font-face {
    font-family: 'OpenSansRegular';
    src: url('../font/opensans.eot');
    src: url('../font/opensans.eot?') format('eot'),
         url('../font/opensans.woff2') format('woff2'),
         url('../font/opensans.woff') format('woff'),
         url('../font/opensans.ttf') format('truetype'),
         url('../font/opensans.svg#OpenSansRegular') format('svg');
}

@font-face {
	font-family:"Open Sans Semibold";
	src:url("../font/OpenSans-Semibold.eot?") format("eot"),
	url("../font/OpenSans-Semibold.woff") format("woff"),
	url("../font/OpenSans-Semibold.ttf") format("truetype"),
	url("../font/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
}*/
@import url(http://allfont.ru/css/?fonts=open-sans-semibold);
@import url(http://allfont.ru/css/?fonts=open-sans);
@import url(http://allfont.ru/css/?fonts=open-sans-light);
/* line 34, ../sass/screen.scss */
* {
  margin: 0 auto;
  padding: 0; }

/* line 39, ../sass/screen.scss */
body {
  background-color: #dbdbdb; }

/* line 43, ../sass/screen.scss */
header {
  background-color: #f4f4f4;
  height: 40px;
  width: 1000px; }
  /* line 49, ../sass/screen.scss */
  header .search {
    float: left;
    border: 1px solid #D6D6D7;
    margin-right: 27px;
    width: 232px;
    border-left: 1px; }
  /* line 57, ../sass/screen.scss */
  header .search_input {
    width: 173px;
    height: 38px;
    float: left;
    padding-left: 20px;
    color: #999999;
    font-family: "Open Sans", arial;
    font-size: 13px;
    border: none;
    background: #f4f4f4; }
  /* line 69, ../sass/screen.scss */
  header .search_input:focus {
    background: #fff;
    outline: none; }
  /* line 71, ../sass/screen.scss */
  header .search_btn {
    width: 39px;
    height: 38px;
    border: none;
    background: #f4f4f4; }
  /* line 78, ../sass/screen.scss */
  header .city {
    float: left;
    margin-right: 30px; }
  /* line 83, ../sass/screen.scss */
  header .city select {
    border: none;
    background: #f4f4f4;
    font-size: 13px;
    font-family: "Open Sans", arial;
    color: #7E7E7E;
    margin-top: 8px;
    padding-right: 36px;
    margin-right: 5px; }
  /* line 94, ../sass/screen.scss */
  header .topmenu ul {
    list-style: none; }
  /* line 98, ../sass/screen.scss */
  header .topmenu ul li {
    float: left;
    padding-top: 10px;
    padding-bottom: 11px;
    font-size: 13px;
    font-family: "Open Sans", arial;
    color: #7E7E7E;
    padding-left: 21px;
    padding-right: 26px;
    letter-spacing: 0.3px;
    margin-right: 3px; }
  /* line 112, ../sass/screen.scss */
  header .topmenu ul li:hover {
    background-color: #c0c0c0;
    cursor: pointer;
    color: #fff; }

/* line 120, ../sass/screen.scss */
.main {
  width: 1000px;
  background: #fff;
  overflow: hidden;
  padding-bottom: 20px; }
  /* line 127, ../sass/screen.scss */
  .main .logo {
    height: 111px;
    background-color: #fff;
    padding-top: 24px;
    padding-bottom: 5px; }
    /* line 134, ../sass/screen.scss */
    .main .logo .logotype {
      margin-left: 18px;
      float: left;
      margin-right: 20px; }
    /* line 140, ../sass/screen.scss */
    .main .logo .logotype img {
      padding-bottom: 22px; }
    /* line 144, ../sass/screen.scss */
    .main .logo .logotype div {
      font-size: 13px;
      font-family: "Open Sans", arial;
      color: #777777;
      letter-spacing: 0.1px; }
    /* line 151, ../sass/screen.scss */
    .main .logo .contact {
      float: left;
      margin-right: 70px;
      font-family: "Open Sans", arial;
      font-size: 13px;
      color: #777777; }
    /* line 159, ../sass/screen.scss */
    .main .logo .contact div {
      padding-bottom: 5px;
      letter-spacing: 0.3px; }
    /* line 164, ../sass/screen.scss */
    .main .logo .contact img {
      margin-right: 5px;
      vertical-align: sub; }
    /* line 169, ../sass/screen.scss */
    .main .logo .blue {
      font-family: "Open Sans Semibold", arial;
      font-size: 16px;
      color: #475f80; }
    /* line 175, ../sass/screen.scss */
    .main .logo .call {
      padding-left: 23px;
      font-size: 10px;
      font-family: "Open Sans", arial; }
    /* line 181, ../sass/screen.scss */
    .main .logo .call a {
      border-bottom: 1px dotted #777777;
      text-decoration: none;
      color: #777777; }
    /* line 187, ../sass/screen.scss */
    .main .logo .login {
      float: left;
      padding-bottom: 7px; }
    /* line 192, ../sass/screen.scss */
    .main .logo .login img {
      margin-right: 10px;
      vertical-align: sub; }
    /* line 197, ../sass/screen.scss */
    .main .logo .login a {
      font-family: "Open Sans Semibold", arial;
      font-size: 14px;
      color: #475f80;
      text-decoration: none; }
    /* line 204, ../sass/screen.scss */
    .main .logo a.sigin:after {
      content: '|';
      margin-right: 3px;
      margin-left: 5px; }
    /* line 210, ../sass/screen.scss */
    .main .logo .cart {
      float: left; }
    /* line 214, ../sass/screen.scss */
    .main .logo .cart img {
      margin-right: 10px;
      vertical-align: sub; }
    /* line 218, ../sass/screen.scss */
    .main .logo .sum {
      padding-left: 35px; }
    /* line 220, ../sass/screen.scss */
    .main .logo .number, .main .logo .sum {
      color: #777777;
      font-size: 13px;
      font-family: "Open Sans", arial;
      margin-left: -5px; }
    /* line 227, ../sass/screen.scss */
    .main .logo .cart span {
      font-size: 13px;
      font-family: "Open Sans Semibold", arial;
      color: #444444; }
  /* line 234, ../sass/screen.scss */
  .main .mainmenu {
    background: #fff;
    overflow: hidden;
    margin-bottom: 11px; }
    /* line 239, ../sass/screen.scss */
    .main .mainmenu ul {
      list-style: none; }
    /* line 243, ../sass/screen.scss */
    .main .mainmenu li {
      float: left;
      font-family: "Open Sans Semibold", arial;
      font-size: 14px;
      background-image: -webkit-linear-gradient(90deg, #0f4875 0%, #507da5 100%);
      background-image: -moz-linear-gradient(90deg, #0f4875 0%, #507da5 100%);
      background-image: -ms-linear-gradient(90deg, #0f4875 0%, #507da5 100%);
      padding-top: 10px;
      padding-bottom: 11px;
      margin-right: 2px;
      letter-spacing: 0.3px; }
    /* line 257, ../sass/screen.scss */
    .main .mainmenu .second_li {
      padding-left: 21px;
      padding-right: 28px; }
    /* line 258, ../sass/screen.scss */
    .main .mainmenu .third_li {
      padding-right: 32px;
      padding-left: 29px; }
    /* line 259, ../sass/screen.scss */
    .main .mainmenu .fouth_li {
      padding-left: 21px;
      padding-right: 27px; }
    /* line 261, ../sass/screen.scss */
    .main .mainmenu li:first-child {
      padding: 8px 36px 13px 46px; }
    /* line 265, ../sass/screen.scss */
    .main .mainmenu li:last-child {
      margin-right: -40px;
      padding: 8px 47px 13px 46px; }
    /* line 269, ../sass/screen.scss */
    .main .mainmenu li:first-child:before {
      content: url("../img/logo/darr.png");
      margin-left: -25px;
      margin-right: 18px; }
    /* line 275, ../sass/screen.scss */
    .main .mainmenu li:last-child:before {
      content: url("../img/logo/darr.png");
      margin-left: -26px;
      margin-right: 19px; }
    /* line 281, ../sass/screen.scss */
    .main .mainmenu li a {
      text-decoration: none;
      color: #fff; }
    /* line 286, ../sass/screen.scss */
    .main .mainmenu li img {
      padding-right: 15px;
      vertical-align: middle;
      margin-left: 7px; }
    /* line 292, ../sass/screen.scss */
    .main .mainmenu li:hover {
      cursor: pointer;
      background: #fff; }
      /* line 296, ../sass/screen.scss */
      .main .mainmenu li:hover a {
        color: #475972; }
    /* line 300, ../sass/screen.scss */
    .main .mainmenu li:first-child:hover a:before {
      content: url("../img/logo/darkdarr.png");
      margin-left: -25px;
      margin-right: 18px; }
    /* line 306, ../sass/screen.scss */
    .main .mainmenu li:last-child:hover a:before {
      content: url("../img/logo/darkdarr.png");
      margin-left: -26px;
      margin-right: 19px; }
    /* line 312, ../sass/screen.scss */
    .main .mainmenu .red {
      background-image: -webkit-linear-gradient(90deg, #e2001a 0%, #e25e6d 100%);
      background-image: -moz-linear-gradient(90deg, #e2001a 0%, #e25e6d 100%);
      background-image: -ms-linear-gradient(90deg, #e2001a 0%, #e25e6d 100%);
      padding-right: 26px;
      padding-left: 22px; }
  /* line 321, ../sass/screen.scss */
  .main .nav {
    overflow: hidden;
    padding-bottom: 15px; }
    /* line 326, ../sass/screen.scss */
    .main .nav ul {
      list-style: none;
      margin-left: 20px; }
    /* line 331, ../sass/screen.scss */
    .main .nav li {
      letter-spacing: 0.3px; }
    /* line 335, ../sass/screen.scss */
    .main .nav ul li {
      float: left;
      font-family: "Open Sans Semibold", arial;
      font-size: 20px;
      color: #87888a;
      border-bottom: 2px solid #D9D9D9;
      line-height: 1.8;
      cursor: pointer; }
    /* line 345, ../sass/screen.scss */
    .main .nav ul li:hover {
      border-bottom: 2px solid red; }
    /* line 347, ../sass/screen.scss */
    .main .nav .spec {
      padding-right: 87px; }
    /* line 348, ../sass/screen.scss */
    .main .nav .popular {
      padding-right: 94px; }
    /* line 349, ../sass/screen.scss */
    .main .nav .sert {
      padding-right: 141px;
      margin-left: 13px; }
    /* line 351, ../sass/screen.scss */
    .main .nav img {
      padding-right: 16px; }
  /* line 358, ../sass/screen.scss */
  .main .maincontent .content {
    margin-left: 20px;
    width: 681px;
    float: left;
    padding-right: 15px; }
    /* line 365, ../sass/screen.scss */
    .main .maincontent .content .goods {
      width: 213px;
      margin-right: 14px;
      margin-bottom: 10px;
      float: left; }
    /* line 372, ../sass/screen.scss */
    .main .maincontent .content .goods div, .main .maincontent .content h4 {
      padding-bottom: 4px;
      margin-top: -5px; }
    /* line 377, ../sass/screen.scss */
    .main .maincontent .content .catalog_goods {
      margin-bottom: 23px; }
    /* line 379, ../sass/screen.scss */
    .main .maincontent .content .description {
      font-family: "Open Sans Semibold", arial;
      font-size: 13px;
      color: #555555;
      background: #e8e8e8;
      padding: 15px 0px 8px 15px;
      margin-bottom: 8px; }
    /* line 388, ../sass/screen.scss */
    .main .maincontent .content .artikul {
      font-family: "Open Sans", arial;
      font-size: 13px; }
    /* line 393, ../sass/screen.scss */
    .main .maincontent .content .cost {
      font-family: "Open Sans Semibold", arial;
      font-size: 13px;
      color: #777777;
      padding-right: 10px;
      margin-left: 15px; }
    /* line 401, ../sass/screen.scss */
    .main .maincontent .content .sale {
      font-family: "Open Sans", arial;
      font-weight: bold;
      color: #e2001a;
      font-size: 18px;
      padding-right: 26px; }
    /* line 409, ../sass/screen.scss */
    .main .maincontent .content .prise {
      margin-bottom: 18px;
      padding-top: 5px; }
    /* line 414, ../sass/screen.scss */
    .main .maincontent .content .prise img {
      vertical-align: top; }
    /* line 416, ../sass/screen.scss */
    .main .maincontent .content .tocart a {
      font-family: "Open Sans Semibold", arial;
      font-size: 11px;
      color: #fff;
	  text-transform: uppercase;
      background: #e2001a;
      padding: 10px 63px 7px 60px;
		text-decoration: none;
		white-space: nowrap;
		border-bottom: 2px solid #bb0b14;
		border-top: 2px solid #e2001a;
		border-right: 2px solid #e2001a;
		border-left: 2px solid #e2001a; }
    /* line 426, ../sass/screen.scss */
    .main .maincontent .content .tocart a:hover {
      background: #fff;
      color: red;
      border: 1px solid red; }
    /* line 432, ../sass/screen.scss */
    .main .maincontent .content .tocart a:before {
      content: url("../img/maincontent/cart.png");
      padding-right: 10px;
      vertical-align: sub; }
    /* line 438, ../sass/screen.scss */
    .main .maincontent .content .tocart a:hover:before {
      content: url("../img/maincontent/redcart.png"); }
  /* line 443, ../sass/screen.scss */
  .main .maincontent aside {
    float: left;
    margin-left: -2px; }
    /* line 448, ../sass/screen.scss */
    .main .maincontent aside .certificate {
      padding-bottom: 30px; }
    /* line 450, ../sass/screen.scss */
    .main .maincontent aside .certificate img {
      padding-right: 8px; }
    /* line 455, ../sass/screen.scss */
    .main .maincontent aside h3 {
      font-family: "Open Sans Semibold", arial;
      font-size: 20px;
      color: #87888a;
      font-weight: normal;
      padding-bottom: 7px;
      border-bottom: 2px solid #d9d9d9; }
    /* line 464, ../sass/screen.scss */
    .main .maincontent aside article {
      width: 260px;
      border-bottom: 3px dotted #dedede;
      padding-bottom: 7px;
      padding-top: 14px; }
    /* line 471, ../sass/screen.scss */
    .main .maincontent aside article:hover {
      cursor: pointer; }
      /* line 473, ../sass/screen.scss */
      .main .maincontent aside article:hover .date {
        background: #fff;
        border: 1px solid red; }
      /* line 478, ../sass/screen.scss */
      .main .maincontent aside article:hover .preview {
        text-decoration: underline; }
    /* line 484, ../sass/screen.scss */
    .main .maincontent aside .date {
      background: #e8e8e8;
      float: left;
      padding: 8px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      width: 55px;
      height: 55px;
      margin-right: 12px; }
    /* line 496, ../sass/screen.scss */
    .main .maincontent aside .day {
      font-size: 16px;
      font-family: "Open Sans Semibold", arial;
      color: #444444;
      margin-left: 9px; }
    /* line 503, ../sass/screen.scss */
    .main .maincontent aside .mouth {
      font-size: 10px;
      font-family: "Open Sans Semibold", arial;
      color: #444444; }
    /* line 509, ../sass/screen.scss */
    .main .maincontent aside .preview {
      font-family: "Open Sans", arial;
      font-size: 13px;
      line-height: 1.154;
      letter-spacing: 0.3px; }
    /* line 516, ../sass/screen.scss */
    .main .maincontent aside .preview a {
      text-decoration: none;
      color: #777777; }
    /* line 521, ../sass/screen.scss */
    .main .maincontent aside .all_news {
      float: right;
      color: red;
      font-size: 13px;
      font-family: "Open Sans", arial; }
  /* line 529, ../sass/screen.scss */
  .main .maincontent .advantage {
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: -20px; }
  /* line 536, ../sass/screen.scss */
  .main .maincontent .advantage h2 {
    padding-left: 20px;
    font-size: 20px;
    font-family: "Open Sans Semibold", arial;
    color: #87888a;
    font-weight: 600;
    padding-bottom: 15px; }
  /* line 546, ../sass/screen.scss */
  .main .maincontent .advantage div {
    background: #022f56;
    float: left;
    height: 258px;
    width: 200px; }
  /* line 553, ../sass/screen.scss */
  .main .maincontent .advantage div:hover {
    background: #fff;
    cursor: pointer; }
    /* line 557, ../sass/screen.scss */
    .main .maincontent .advantage div:hover .desc {
      color: #022f56;
      background: #fff;
      cursor: pointer; }
  /* line 564, ../sass/screen.scss */
  .main .maincontent .advantage img {
    padding: 32px 39px 16px 38px; }
  /* line 568, ../sass/screen.scss */
  .main .maincontent .desc {
    font-size: 14px;
    color: #fff;
    font-family: "Open Sans", arial;
    width: 200px;
    text-align: center; }
  /* line 578, ../sass/screen.scss */
  .main .maincontent .about .head {
    padding-bottom: 20px; }
  /* line 580, ../sass/screen.scss */
  .main .maincontent .about h2 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-family: "Open Sans Semibold", arial;
    color: #87888a;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 1px solid #87888a; }
  /* line 591, ../sass/screen.scss */
  .main .maincontent .about .text {
    padding-left: 20px;
    padding-right: 20px; }
  /* line 593, ../sass/screen.scss */
  .main .maincontent .about .text img {
    float: left;
    padding-right: 20px; }
  /* line 598, ../sass/screen.scss */
  .main .maincontent .about .text p {
    font-family: "Open Sans", arial;
    font-size: 13px;
    color: #777777;
    padding-bottom: 20px;
    text-align: justify; }

/* line 609, ../sass/screen.scss */
footer {
  background: #444444;
  width: 1000px;
  overflow: hidden; }
  /* line 614, ../sass/screen.scss */
  footer .footerwrapper {
    padding-top: 17px;
    padding-left: 20px; }
  /* line 619, ../sass/screen.scss */
  footer .footerwrapper div {
    float: left; }
  /* line 623, ../sass/screen.scss */
  footer .footer_logo, footer .leftli, footer .rightli {
    padding-right: 67px; }
  /* line 624, ../sass/screen.scss */
  footer .rightli {
    margin-left: -7px; }
  /* line 628, ../sass/screen.scss */
  footer ul {
    list-style-image: url("../img/footer/list.png");
    padding-bottom: 15px; }
  /* line 633, ../sass/screen.scss */
  footer li {
    font-size: 13px;
    color: #fff;
    font-family: "Open Sans", arial;
    line-height: 1.8; }
  /* line 640, ../sass/screen.scss */
  footer li:hover {
    color: #7b7b7b;
    cursor: pointer; }
  /* line 642, ../sass/screen.scss */
  footer .footer_adress {
    font-family: "Open Sans", arial;
    color: #fff;
    font-size: 13px;
    padding-left: 57px;
    padding-bottom: 15px;
    width: 242px; }
  /* line 651, ../sass/screen.scss */
  footer .f_phone {
    padding-bottom: 4px;
    letter-spacing: 0.3px; }
  /* line 652, ../sass/screen.scss */
  footer .f_phone span {
    font-size: 16px;
    font-family: "Open Sans Semibold", arial;
    letter-spacing: 0.3px; }
  /* line 658, ../sass/screen.scss */
  footer .f_adress {
    letter-spacing: 0.3px; }
  /* line 660, ../sass/screen.scss */
  footer .mera {
    border-bottom: 1px solid #7b7b7b;
    font-size: 13px;
    color: #fff;
    font-family: "Open Sans Semibold", arial;
    letter-spacing: 0.3px;
    padding-bottom: 4px; }
  /* line 669, ../sass/screen.scss */
  footer .copy {
    width: 423px;
    white-space: nowrap; }
  /* line 670, ../sass/screen.scss */
  footer .copyright {
    padding-top: 8px;
    color: #999999;
    font-size: 13px;
    font-family: "Open Sans", arial;
    padding-bottom: 10px;
    letter-spacing: 0.3px; }
  /* line 679, ../sass/screen.scss */
  footer .designed {
    font-family: "Open Sans", arial;
    font-size: 13px;
    color: #999999;
    position: relative;
    left: 314px;
    top: 30px; }
  /* line 688, ../sass/screen.scss */
  footer .designed a {
    color: #999999; }
  /* line 690, ../sass/screen.scss */
  footer .designed img {
    vertical-align: top;
    padding-left: 5px; }

/**************************************╨Ъ╨░╤В╨░╨╗╨╛╨│*************************/
/* line 695, ../sass/screen.scss */
.maincontent {
  padding-left: 20px; }
  /* line 698, ../sass/screen.scss */
  .maincontent .breadcrumbs {
    list-style: none;
    padding-bottom: 27px; }
    /* line 703, ../sass/screen.scss */
    .maincontent .breadcrumbs li {
      float: left;
      padding-right: 7px; }
    /* line 704, ../sass/screen.scss */
    .maincontent .breadcrumbs li:after {
      content: url("../img/footer/list.png"); }
    /* line 705, ../sass/screen.scss */
    .maincontent .breadcrumbs li:last-child:after {
      content: ''; }
    /* line 706, ../sass/screen.scss */
    .maincontent .breadcrumbs li:last-child a {
      text-decoration: none;
      cursor: default;
      pointer-events: none; }
    /* line 708, ../sass/screen.scss */
    .maincontent .breadcrumbs a {
      font-family: "Open Sans Light", arial;
      font-size: 13px;
      color: #777777;
      padding-right: 9px; }
  /* line 715, ../sass/screen.scss */
  .maincontent h2 {
    color: #87888a;
    font-size: 18px;
    font-family: "Open Sans", arial;
    padding-bottom: 8px;
    letter-spacing: 0.3px; }
  /* line 724, ../sass/screen.scss */
  .maincontent .filter {
    border: 2px solid #e8e8e8;
    float: left;
    margin-right: 14px; }
    /* line 729, ../sass/screen.scss */
    .maincontent .filter h3 {
      color: #87888a;
      font-family: "Open Sans", arial;
      font-size: 14px;
      letter-spacing: 0.1px;
      padding-top: 8px;
      padding-left: 14px;
      padding-bottom: 15px; }
    /* line 739, ../sass/screen.scss */
    .maincontent .filter form {
      padding-bottom: 15px; }
    /* line 744, ../sass/screen.scss */
    .maincontent .filter .slider_range {
      padding-bottom: 11px;
      padding-left: 10px;
      margin-right: 13px; }
    /* line 746, ../sass/screen.scss */
    .maincontent .filter .border {
      margin-left: 11px;
      margin-right: 11px;
      padding-bottom: 13px;
      border-bottom: 1px solid #eeeeee; }
      /* line 752, ../sass/screen.scss */
      .maincontent .filter .border label {
        font-family: "Open Sans", arial;
        font-size: 14px;
        color: #444444;
        padding-right: 5px; }
      /* line 759, ../sass/screen.scss */
      .maincontent .filter .border input {
        font-family: "Open Sans", arial;
        font-size: 14px;
        color: #444444;
        padding: 1px;
        letter-spacing: 0.1px;
        border: 2px solid #eeeeee; }
      /* line 768, ../sass/screen.scss */
      .maincontent .filter .border #mincost {
        width: 53px;
        letter-spacing: 0.1px;
        padding-left: 8px;
        margin-right: 49px; }
      /* line 775, ../sass/screen.scss */
      .maincontent .filter .border #maxcost {
        padding-right: 25px;
        width: 50px;
        padding-left: 8px; }
    /* line 784, ../sass/screen.scss */
    .maincontent .filter .check_block a {
      text-decoration: none;
      font-family: "Open Sans", arial;
      font-size: 14px;
      color: #777777;
      background: #eeeeee;
      padding: 5px 0px 6px 10px;
      pointer-events: none; }
    /* line 794, ../sass/screen.scss */
    .maincontent .filter .check_block a:before {
      content: url("../img/logo/darkdarr.png");
      position: relative;
      padding-right: 10px;
      bottom: 2px; }
    /* line 801, ../sass/screen.scss */
    .maincontent .filter .check_block .role {
      padding-right: 167px; }
    /* line 802, ../sass/screen.scss */
    .maincontent .filter .check_block .drill_type {
      padding-right: 175px; }
    /* line 803, ../sass/screen.scss */
    .maincontent .filter .check_block .material {
      padding-right: 122px; }
    /* line 805, ../sass/screen.scss */
    .maincontent .filter .check_block .first_box, .maincontent .filter .check_block .all_box {
      padding-top: 20px;
      margin-left: 11px;
      padding-bottom: 8px; }
    /* line 806, ../sass/screen.scss */
    .maincontent .filter .check_block .first_box input {
      margin-right: 13px; }
    /* line 808, ../sass/screen.scss */
    .maincontent .filter .check_block .first_box div {
      padding-bottom: 13px; }
    /* line 812, ../sass/screen.scss */
    .maincontent .filter .check_block label {
      font-family: "Open Sans", arial;
      font-size: 13px;
      color: #777777; }
    /* line 818, ../sass/screen.scss */
    .maincontent .filter .check_block #SDX_MAX {
      margin-right: 12px; }
    /* line 819, ../sass/screen.scss */
    .maincontent .filter .check_block #SDS {
      margin-left: 28px;
      margin-right: 8px; }
    /* line 824, ../sass/screen.scss */
    .maincontent .filter .check_block .second_box div {
      padding-bottom: 12px; }
    /* line 830, ../sass/screen.scss */
    .maincontent .filter .check_block .third_box div {
      padding-bottom: 13px; }
    /* line 832, ../sass/screen.scss */
    .maincontent .filter .check_block #standart {
      margin-right: 11px; }
    /* line 834, ../sass/screen.scss */
    .maincontent .filter .check_block #expert {
      margin-right: 11px; }
    /* line 836, ../sass/screen.scss */
    .maincontent .filter .check_block .reset_filter {
      padding-right: 73px;
      font-size: 11px;
      padding-left: 59px; }
    /* line 838, ../sass/screen.scss */
    .maincontent .filter .check_block .reset_filter:before {
      content: url("../img/catalog/reset.png");
      position: relative;
      padding-right: 10px;
      bottom: -1px; }
    /* line 845, ../sass/screen.scss */
    .maincontent .filter .check_block .end_filter {
      padding-bottom: 5px; }
  /* line 849, ../sass/screen.scss */
  .maincontent .filter2 {
    font-size: 13px;
    font-family: "Open Sans", arial;
    color: #777777;
    letter-spacing: 0.3px;
    overflow: hidden;
    border: 2px solid #eeeeee;
    margin-right: 20px;
    margin-bottom: 20px; }
    /* line 860, ../sass/screen.scss */
    .maincontent .filter2 div {
      float: left; }
    /* line 862, ../sass/screen.scss */
    .maincontent .filter2 .filterwrapper {
      padding: 11px;
      border-bottom: 3px solid #eee; }
    /* line 864, ../sass/screen.scss */
    .maincontent .filter2 a {
      text-decoration: none;
      color: #777777; }
    /* line 869, ../sass/screen.scss */
    .maincontent .filter2 a:hover {
      text-decoration: underline; }
    /* line 871, ../sass/screen.scss */
    .maincontent .filter2 .sort {
      padding-right: 60px; }
    /* line 873, ../sass/screen.scss */
    .maincontent .filter2 .sort span {
      padding-right: 13px; }
    /* line 875, ../sass/screen.scss */
    .maincontent .filter2 .sort a {
      padding-right: 6px;
      letter-spacing: 0.9px; }
    /* line 877, ../sass/screen.scss */
    .maincontent .filter2 .vivod {
      padding-right: 2px; }
    /* line 879, ../sass/screen.scss */
    .maincontent .filter2 .vivod a {
      margin-left: 2px; }
    /* line 881, ../sass/screen.scss */
    .maincontent .filter2 .vivod span {
      margin-right: 4px; }
  /* line 884, ../sass/screen.scss */
  .maincontent .slider_goods {
    width: 230px;
    position: relative;
    float: left;
    top: -473px;
    right: 0px;
    border: 2px solid #e2001a;
    padding: 1px 30px 1px 17px;
    height: 328px; }
    /* line 894, ../sass/screen.scss */
    .maincontent .slider_goods .slide-list {
      position: relative;
      margin: 0;
      padding: 0;
      /* ╨б╨║╤А╨╛╨╡╨╝ ╤В╨╛ ╤З╤В╨╛ ╨▓╤Л╤Е╨╛╨┤╨╕╤В ╨╖╨░ ╨│╤А╨░╨╜╨╕╤Ж╤Л */
      overflow: hidden;
      margin-top: 3px;
      margin-left: 3px; }
    /* line 903, ../sass/screen.scss */
    .maincontent .slider_goods .slide-wrap {
      position: relative;
      left: 0px;
      top: 0;
      /* ╨╝╨░╨║╤Б╨╕╨╝╨░╨╗╤М╨╜╨╛ ╨▓╨╛╨╖╨╝╨╛╨╢╨╜╨░╤П ╤И╨╕╤А╨╕╨╜╨░ ╨╛╨▒╨╡╤А╤В╨║╨╕ ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░ */
      width: 10000000px; }
    /* line 910, ../sass/screen.scss */
    .maincontent .slider_goods .slide-item {
      /* ╨и╨╕╤А╨╕╨╜╨░ ╤Б╨╗╨░╨╣╨┤╨░ */
      width: 213px;
      /* ╨Т╨╜╤Г╤В╤А╨╡╨╜╨╜╨╕╨╡ ╨╛╤В╤Б╤В╤Г╨┐╤Л */
      padding: 10px;
      /* ╨Ю╨▒╤В╨╡╨║╨░╨╜╨╕╨╡ */
      float: left; }
    /* line 919, ../sass/screen.scss */
    .maincontent .slider_goods .goods {
      margin-bottom: 10px;
      float: left; }
      /* line 925, ../sass/screen.scss */
      .maincontent .slider_goods .goods h4 {
        letter-spacing: 0.2px; }
      /* line 926, ../sass/screen.scss */
      .maincontent .slider_goods .goods div, .maincontent .slider_goods .goods h4 {
        padding-bottom: 4px;
        margin-top: -5px; }
      /* line 931, ../sass/screen.scss */
      .maincontent .slider_goods .goods .catalog_goods {
        margin-bottom: 23px; }
      /* line 933, ../sass/screen.scss */
      .maincontent .slider_goods .goods .description {
        font-family: "Open Sans Semibold", arial;
        font-size: 13px;
        color: #555555;
        background: #e8e8e8;
        padding: 15px 0px 8px 15px;
        margin-bottom: 5px;
        letter-spacing: 0.2px; }
      /* line 943, ../sass/screen.scss */
      .maincontent .slider_goods .goods .artikul {
        font-family: "Open Sans", arial;
        font-size: 13px; }
      /* line 948, ../sass/screen.scss */
      .maincontent .slider_goods .goods .cost {
        font-family: "Open Sans Semibold", arial;
        font-size: 13px;
        color: #777777;
        padding-right: 10px;
        margin-left: 15px; }
      /* line 956, ../sass/screen.scss */
      .maincontent .slider_goods .goods .sale {
        font-family: "Open Sans", arial;
        font-weight: bold;
        color: #e2001a;
        font-size: 18px;
        padding-right: 26px; }
      /* line 964, ../sass/screen.scss */
      .maincontent .slider_goods .goods .prise {
        margin-bottom: 18px;
        padding-top: 5px; }
      /* line 969, ../sass/screen.scss */
      .maincontent .slider_goods .goods .prise img {
        vertical-align: top; }
      /* line 971, ../sass/screen.scss */
      .maincontent .slider_goods .goods .tocart a {
        font-family: "Open Sans Semibold", arial;
        font-size: 11px;
        color: #fff;
        background: #e2001a;
        padding: 11px 65px 12px 60px;
        text-decoration: none;
        white-space: nowrap; }
      /* line 981, ../sass/screen.scss */
      .maincontent .slider_goods .goods .tocart a:hover {
        background: #fff;
        color: red;
        border: 1px solid red; }
      /* line 987, ../sass/screen.scss */
      .maincontent .slider_goods .goods .tocart a:before {
        content: url("../img/maincontent/cart.png");
        padding-right: 10px;
        vertical-align: sub; }
      /* line 993, ../sass/screen.scss */
      .maincontent .slider_goods .goods .tocart a:hover:before {
        content: url("../img/maincontent/redcart.png"); }
    /* line 998, ../sass/screen.scss */
    .maincontent .slider_goods .prev-slide {
      position: relative;
      background: url("../img/catalog/left_black_arrow.png");
      background-repeat: no-repeat;
      text-indent: 1000000px;
      bottom: 174px;
      padding-bottom: 19px;
      right: 7px;
      cursor: pointer; }
    /* line 1009, ../sass/screen.scss */
    .maincontent .slider_goods .prev-slide:hover {
      background: url("../img/catalog/left_red_arrow.png") no-repeat; }
    /* line 1010, ../sass/screen.scss */
    .maincontent .slider_goods .next-slide:hover {
      background: url("../img/catalog/right_red_arrow.png") no-repeat; }
    /* line 1011, ../sass/screen.scss */
    .maincontent .slider_goods .next-slide {
      position: relative;
      background: url("../img/catalog/right_black_arrow.png");
      background-repeat: no-repeat;
      text-indent: 1000000px;
      padding-bottom: 19px;
      left: 129px;
      bottom: 210px;
      cursor: pointer;
      width: 14px; }
  /* line 1024, ../sass/screen.scss */
  .maincontent .slider_goods::-moz-selection {
    background: transparent;
    color: #fff;
    text-shadow: none; }
  /* line 1025, ../sass/screen.scss */
  .maincontent .slider_goods::selection {
    background: transparent;
    color: #fff;
    text-shadow: none; }
  /* line 1027, ../sass/screen.scss */
  .maincontent .slider_inner {
    float: left; }
    /* line 1029, ../sass/screen.scss */
    .maincontent .slider_inner h3 {
      bottom: 511px;
      position: relative;
      left: 55px; }

/********************
	╨Ъ╨░╤В╨╡╨│╨╛╤А╨╕╨╕
********************/
/* line 1040, ../sass/screen.scss */
#category {
  padding-bottom: 20px; }

/* line 1041, ../sass/screen.scss */
.categories {
  margin-left: 20px;
  font-family: "Open Sans", arial; }
  /* line 1045, ../sass/screen.scss */
  .categories div {
    color: #2C6189;
    margin-left: -3px;
    letter-spacing: 0.1px;
    padding-bottom: 20px; }
  /* line 1052, ../sass/screen.scss */
  .categories ul {
    list-style: none;
    margin-left: -3px; }
  /* line 1054, ../sass/screen.scss */
  .categories li {
    margin-bottom: 8px;
    letter-spacing: -.3px; }
  /* line 1056, ../sass/screen.scss */
  .categories li a {
    text-decoration: none;
    font-size: 14px;
    color: #555555; }
  /* line 1058, ../sass/screen.scss */
  .categories li a:before {
    content: url("..//img/footer/list.png");
    padding-right: 5px; }
