#success {
width: 500px !important;
height: auto !important;
padding: 20px !important;
}

#success .product_necess {
 width: 495px !important;
 height: 93px !important;
 margin-right: 0 !important;
}

#success .cart-test.necessary {
 height: 100% !important;
 top: 0px !important;
 bottom: 0px !important;
 /*margin: 20px 0 0px !important;*/
 border: none !important;
 position: relative !important;
}

#success .jscarousal-vertical .product_necess {
 width: 490px !important;
}

.maincontent h3 {
 padding-bottom: 10px !important;
 padding-top: 10px !important;
 margin: 0 !important;
}

.jcarousel-wrapper {
 margin: 25px auto;
 position: relative;
 border: none;
 box-shadow: none !important;
}

.bx-viewport {
 /*min-height: 243px !important;*/
}

.bxslider li:before {
 content: "" !important;
 margin-right: 0 !important;
}

.bx-wrapper .bx-controls-direction a {
 position: absolute;
 margin-top: 0;
 outline: 0;
 width: 30px;
 height: 30px;
 text-indent: -9999px;
 z-index: 9999;
}

.bx-wrapper .bx-next {
 top: 291px !important;
 left: 0 !important;
 right: 0 !important;
 background: none;
 background-image: url(/local/templates/main/images/down-arrow.png);
 background-position: center !important;
}

.bx-wrapper .bx-prev {
 top: -28px !important;
 left: 0 !important; 
 right: 0 !important;
 background: none;
 background-image: url(/local/templates/main/images/up-arrow.png); 
 background-position: center !important;
}

.bx-wrapper .bx-viewport {
 box-shadow: none !important;
 border: none !important;
 left: 0 !important; 
}

.product_necess .teod {
 height: 36px !important;
 max-height: 36px !important;
 overflow: hidden !important;
 text-overflow: ellipsis !important;
}

#success [class^="goods-"] .compare-btn a span.buttons {
 width: 100% !important;
 padding: 0 !important;
}