/*@import url(http://allfont.ru/css/?fonts=open-sans-semibold);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
$open: 'Open Sans', sans-serif;;
$semi: 'Open Sans Semibold', arial;
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../font/opensans.eot");
  src: url("../font/opensans.eot?") format("eot"), url("../font/opensans.woff2") format("woff2"), url("../font/opensans.woff") format("woff"), url("../font/opensans.ttf") format("truetype"), url("../font/opensans.svg#OpenSansRegular") format("svg"); }
@font-face {
  font-family: "Open Sans Semibold";
  src: url("../font/OpenSans-Semibold.eot?") format("eot"), url("../font/OpenSans-Semibold.woff") format("woff"), url("../font/OpenSans-Semibold.ttf") format("truetype"), url("../font/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg"); }
line 28, ../sass/screen.scss */
@import url(http://allfont.ru/css/?fonts=open-sans-semibold);
@import url(http://allfont.ru/css/?fonts=open-sans);

* {
  margin: 0 auto;
  padding: 0; }
p {
  font-size: 13px;
font-family: "Open Sans", arial;
color: #999999;

}

label{
  font-size: 14px;
font-family: "Open Sans", arial;
color: #999999;
}

button, a, select{
  cursor: pointer;
}

.bx_content_section ul {
		list-style: none;
		color: #999;
	}
.bx_content_section .bx_page a:before {
  content: none;
  margin-right: 0px;
}


.bx_content_section li:before {
		content: url("/bitrix/templates/main/images/footer/list.png");
		margin-right: 10px;
	}

.bx_content_section .bx_pagination_page li:before {
content: none;
margin-right: 0px;
}

.bx_content_section .menu_product li:before {
		content: none;
		margin-right: 0px;
	}
	
.bx_content_section .connected-carousels li:before {
		content: none;
		margin-right: 0px;
	}	

.bx_content_section .nav li:before {
	content: none;
	margin-right: 0px;
}
	
.bx_content_section .nav li.ui-state-active a.spec:before, .bx_content_section .nav li:hover a.spec:before {
		content: url("/bitrix/templates/main/images/maincontent/stars.png");
		margin-right: 11px;
	}
.bx_content_section .nav li a.spec:before {
		content: url("/bitrix/templates/main/images/main/stars.png");
		margin-right: 11px;
	}
.bx_content_section .nav li.ui-state-active a.popular:before, .bx_content_section .nav li:hover a.popular:before {
		content: url("/bitrix/templates/main/images/main/finger.png");
		margin-right: 11px;
	}
.bx_content_section .nav li a.popular:before {
		content: url("/bitrix/templates/main/images/main/grey_finger.png");
		margin-right: 11px;
	}
/* line 33, ../sass/screen.scss */
body {
  background-color: #dbdbdb; }

/* line 37, ../sass/screen.scss */
.header_top{
  height: 40px;
width: 1000px;
position: relative;
}

header {
  background-color: #f4f4f4;
height: 40px;
width: 1000px;
margin: 0 auto;
z-index: 100;
float: left;
}

header.to_top {
top: 0;
position: fixed;}
  /* line 42, ../sass/screen.scss */
  header .search {
    float: left;
    border: 1px solid #D6D6D7;
    margin-right: 27px;
    width: 232px;
    border-left: 1px; }
  /* line 50, ../sass/screen.scss */
  header .search_input {
    width: 173px;
    height: 38px;
    float: left;
    padding-left: 20px;
    color: #999999;
    font-family: "Open Sans", arial;
    font-size: 13px;
    border: none;
    background: #f4f4f4; }
  /* line 62, ../sass/screen.scss */
  header .search_input:focus {
    background: #fff; }
  /* line 64, ../sass/screen.scss */
  header .search_btn {
    width: 39px;
    height: 38px;
    border: none;
    background: #f4f4f4; }
  /* line 71, ../sass/screen.scss */
  header .city {
    float: left;
    margin-right: 40px; }
  /* line 76, ../sass/screen.scss */
  header .city select {
    border: none;
    background: #f4f4f4;
    font-size: 13px;
    font-family: "Open Sans", arial;
    color: #7E7E7E;
    margin-top: 8px;
    padding-right: 41px;
    cursor: pointer;}
  /* line 86, ../sass/screen.scss */
  .topmenu ul {
    list-style: none; }
  /* line 90, ../sass/screen.scss */
  .topmenu ul li {
    float: left;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 13px;
    font-family: "Open Sans", arial;
    color: #7E7E7E;
    padding-left: 22px;
    padding-right: 27px; }
  /* line 101, ../sass/screen.scss */
  .topmenu ul li:hover {
    background-color: #c0c0c0;
    cursor: pointer;
    color: #fff; }

/* line 109, ../sass/screen.scss */
.main {
  width: 1000px;
  background: #fff;
  overflow: hidden;
  position: relative;
}
  /* line 115, ../sass/screen.scss */
  .main .logo {
    height: 111px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;}
    /* line 122, ../sass/screen.scss */
    .main .logo .logotype {
      margin-left: 20px;
      float: left;
      margin-right: 20px; }
    /* line 128, ../sass/screen.scss */
    .main .logo .logotype img {
      padding-bottom: 30px; }
    /* line 132, ../sass/screen.scss */
    .main .logo .logotype div {
      font-size: 13px;
      font-family: "Open Sans", arial;
      color: #777777; }
    /* line 138, ../sass/screen.scss */
    .main .logo .contact {
      float: left;
      margin-right: 70px;
      font-family: "Open Sans", arial;
      font-size: 13px;
      color: #777777; }
    /* line 146, ../sass/screen.scss */
    .main .logo .contact div {
      padding-bottom: 10px; }
    /* line 150, ../sass/screen.scss */
    .main .logo .contact img {
      margin-right: 10px;
      vertical-align: sub; }
    /* line 155, ../sass/screen.scss */
    .main .logo .blue {
      font-family: "Open Sans Semibold";
      font-size: 16px;
      color: #475f80; }
    /* line 161, ../sass/screen.scss */
    .main .logo .call {
      padding-left: 29px;
      font-size: 10px;
      font-family: "Open Sans", arial; }
    /* line 167, ../sass/screen.scss */
    .main .logo .call a {
      border-bottom: 1px dotted #777777;
      text-decoration: none;
      color: #777777;
      text-transform: uppercase;}
    /* line 173, ../sass/screen.scss */
    .main .logo .login {
      float: left;
      padding-bottom: 10px;
      display: inline-block;
      width: 260px;}
    /* line 178, ../sass/screen.scss */
    .main .logo .login img {
      margin-right: 10px;
      vertical-align: sub; }
    /* line 183, ../sass/screen.scss */
    .main .logo .login a {
      font-family: "Open Sans Semibold";
      font-size: 13px;
      color: #475f80; }
    /* line 189, ../sass/screen.scss */
    .main .logo .cart {
      float: left; }
    /* line 193, ../sass/screen.scss */
    .main .logo .cart img {
      margin-right: 10px;
      vertical-align: sub; }
    /* line 197, ../sass/screen.scss */
    .main .logo .sum {
      padding-left: 35px; }
    /* line 199, ../sass/screen.scss */
    .main .logo .number, .main .logo .sum {
      color: #777777;
      font-size: 13px;
      font-family: "Open Sans", arial;
      margin-left: -5px; }
    /* line 206, ../sass/screen.scss */
    .main .logo .cart span {
      font-size: 13px;
      font-family: "Open Sans Semibold";
      color: #444444;
      font-weight: 600; }
  /* line 214, ../sass/screen.scss */
  .main .mainmenu {
    background: #fff;
    overflow: hidden;
    margin-bottom: 15px;
	background: url('/bitrix/templates/main/images/mainNav.gif') repeat-x 0 0;}
    /* line 219, ../sass/screen.scss */
    .main .mainmenu ul {
      list-style: none; }
    /* line 223, ../sass/screen.scss */
    .main .mainmenu li.first {
      float: left;
      font-family: "Open Sans Semibold";
      font-size: 12px;
      color: #fff;
	  background-image: url("/bitrix/templates/main/images/foLeft.gif");
	background-repeat: no-repeat;

      /*background-image: -webkit-linear-gradient(90deg, #0f4875 0%, #507da5 100%);
      background-image: -moz-linear-gradient(90deg, #0f4875 0%, #507da5 100%);
      background-image: -ms-linear-gradient(90deg, #0f4875 0%, #507da5 100%);
      padding: 0px;
      outline: ridge;
	border-top: 1px solid #19507c;
	border-left: 1px solid #19507c;*/
	/*padding: 9px 33px 0px 21px;*/}
    /* line 235, ../sass/screen.scss */
    .main .mainmenu li img {
      padding-right: 20px;
      vertical-align: middle;
      float: left;}
	  .main .mainmenu .first img {
      float: none;}
	  .list_drop img {
      float: left!important;}
    /* line 240, ../sass/screen.scss */
    .main .mainmenu li:hover {
      cursor: pointer;
      color: #304764;
      
	/*border-top: 1px solid #19507c;
	border-left: 1px solid #19507c;*/}
    /* line 246, ../sass/screen.scss */
    .main .mainmenu li.first.red {
      /*background-image: -webkit-linear-gradient(90deg, #e2001a 0%, #e25e6d 100%); */
	  background: url('/bitrix/templates/main/images/navRed.gif') repeat-x 0 0;
	  }
  /* line 251, ../sass/screen.scss */
    .main .mainmenu li.first.red:hover {
      color: #fff !important;
      background: #fff;}
      #horizontal-multilevel-menu li.red:hover a.root-item{
      color: #e2001a;}
  /* line 251, ../sass/screen.scss */
  .main .nav {
    overflow: hidden;
    padding-bottom: 15px; }
    /* line 343, ../sass/screen.scss */
    .main .nav ul {
      list-style: none;
    }
    /* line 348, ../sass/screen.scss */
    .main .nav li {
      letter-spacing: 0.3px; }
    /* line 352, ../sass/screen.scss */
    .main .nav ul li {
      float: left;
      font-family: "Open Sans Semibold", arial;
      font-size: 20px;
      color: #87888a;
      border-bottom: 2px solid #D9D9D9;
      line-height: 1.8;
      cursor: pointer; }
    /* line 362, ../sass/screen.scss */
    .main .nav ul li:hover {
      border-bottom: 2px solid #e2001a; }
    /* line 364, ../sass/screen.scss */
    .main .nav li.ui-tabs-active a, .main .nav ul li:hover a {
      color: #e2001a; }
      
      .main .nav .spec {
      padding-right: 73px; }
    /* line 365, ../sass/screen.scss */
    .main .nav .popular {
      padding-right: 94px; }
    /* line 366, ../sass/screen.scss */
    .main .sert {
		float: left;
		font-family: "Open Sans Semibold", arial;
		font-size: 20px;
		border-bottom: 2px solid #D9D9D9;
		line-height: 1.8;
		color: #87888a;
		width: 260px;}
		.main .nav a {
			text-decoration: none;
			color: #87888a;
                        outline: none;
		}
  /* line 284, ../sass/screen.scss */
  .main .maincontent .content {
    width: 681px;
    float: left;
    padding-right: 15px;
    position: relative;}
    /* line 291, ../sass/screen.scss */
    .main .maincontent .content .goods {
      width: 213px;
      margin-right: 14px;
      margin-bottom: 10px;
      float: left; }
      
        .main .maincontent .content .goods:hover {
      outline: 1px solid #e2001a;
 }
    /* line 298, ../sass/screen.scss */
    .main .maincontent .content .goods div, .main .maincontent .content h4 {
      padding-bottom: 15px;
      display: inline-block;
      width: 100%;
    }
    
    .main .maincontent .content .goods div.tocart {
      text-align: center;
      padding-bottom: 0px;
      min-height: 42px;
      text-transform: uppercase;
    }

    /* line 302, ../sass/screen.scss */
    .main .maincontent .content .goods div.description {
      font-family: "Open Sans Semibold";
      font-size: 13px;
      color: #555555;
      background: #e8e8e8;
      padding: 15px 15px 8px 15px;
      margin-bottom: 8px;
      display: inline-block;
      width: 183px;}
    /* line 311, ../sass/screen.scss */
    .main .maincontent .content .artikul {
      font-family: "Open Sans", arial;
      font-size: 13px; }
    /* line 316, ../sass/screen.scss */
    .main .maincontent .content .cost {
      font-family: "Open Sans Semibold";
      font-size: 13px;
      color: #777777;
      padding-right: 10px;
      margin-left: 15px; }
    /* line 324, ../sass/screen.scss */
    .main .maincontent .content .sale {
      font-family: "Open Sans", arial;
      font-weight: bold;
      color: #e2001a;
      font-size: 17px;
      padding-right: 0px; }
    .main .maincontent .content .price a{
      float: right;
    }
    .price{
      min-height: 23px;

    }
    /* line 332, ../sass/screen.scss */
    .main .maincontent .content .prise img {
      vertical-align: top; }
    /* line 334, ../sass/screen.scss */
	.main .maincontent .content .tocart a, .main .maincontent .content .tocart button {
		font-family: "Open Sans Semibold";
		font-size: 11px;
		color: #fff;
		background: #e2001a;
		text-decoration: none;
		width: auto;
		display: inline-block;
		text-transform: uppercase;
		padding: 8px 60px 9px 57px;
		white-space: nowrap;
		border-bottom: 2px solid #bb0b14;
		border-top: 2px solid #e2001a;
		border-right: 2px solid #e2001a;
		border-left: 2px solid #e2001a;
      }
      
      .main .maincontent .content .tocart button.already_in_cart {
		font-family: "Open Sans Semibold";
		font-size: 11px;
		color: #fff;
		background: #e2001a;
		text-decoration: none;
		/*width: 100%;*/
		display: inline-block;
		text-transform: uppercase;
		padding: 8px 47px 9px 45px;
		white-space: nowrap;
		border-bottom: 2px solid #bb0b14;
		border-top: 2px solid #e2001a;
		border-right: 2px solid #e2001a;
		border-left: 2px solid #e2001a;
      }
    /* line 343, ../sass/screen.scss */
    .main .maincontent .content .tocart a:hover, .main .maincontent .content .tocart button:hover,  .main .maincontent .content .tocart button.already_in_cart {
		background: #fff;
		color: #e2001a;
	}
	.main .maincontent .content .tocart button:hover:before, .main .maincontent .content .tocart button.already_in_cart:before {
		content: url("/bitrix/templates/main/images/maincontent/redcart.png");
		padding-right: 10px;
		vertical-align: sub;
	}
	.main .maincontent .content .tocart button:before {
		content: url("/bitrix/templates/main/images/maincontent/cart.png");
		padding-right: 10px;
		vertical-align: sub;
	}
        
        .main .maincontent .content .tocart a:before {
          content: url("/bitrix/templates/main/images/maincontent/cart.png");
          padding-right: 10px;
          vertical-align: sub; }
        /* line 973, ../sass/screen.scss */
        .main .maincontent .content .tocart a:hover:before {
          content: url("/bitrix/templates/main/images/maincontent/redcart.png"); }
          
          
    /* line 349, ../sass/screen.scss */
    .main .maincontent .content .tocart a img, .main .maincontent .content .tocart button img {
      padding-right: 10px;
      vertical-align: sub; }
  /* line 355, ../sass/screen.scss */
  .main .maincontent aside {
    float: left;
    padding-bottom: 16px;
    display: inline-block;}
    /* line 360, ../sass/screen.scss */
    .main .maincontent aside .certificate {
      padding-bottom: 42px; }
    /* line 362, ../sass/screen.scss */
    .main .maincontent aside .certificate img {
      padding-right: 13px; }
    /* line 366, ../sass/screen.scss */
    .main .maincontent aside .newswrapper {
      padding-bottom: 6px; }
    /* line 370, ../sass/screen.scss */
    .main .maincontent aside h3 {
    font-family: "Open Sans Semibold";
    font-size: 20px;
    color: #87888a;
    font-weight: normal;
    /*padding-bottom: 6px;*/
    border-bottom: 2px solid #d9d9d9; }
    /* line 379, ../sass/screen.scss */
    .main .maincontent aside article {
      width: 265px;
      border-bottom: 3px dotted #dedede;
      padding-bottom: 15px;
      padding-top: 10px; }
    /* line 386, ../sass/screen.scss */
    .main .maincontent aside article:hover {
      cursor: pointer; }
      /* line 388, ../sass/screen.scss */
      .main .maincontent aside article:hover .date {
        background: #fff;
        border: 2px solid red;
	padding: 9px;}
      /* line 393, ../sass/screen.scss */
      .main .maincontent aside article:hover .preview {
        text-decoration: underline; }
    /* line 399, ../sass/screen.scss */
    .main .maincontent aside .date {
      background: #e8e8e8;
      float: left;
      padding: 11px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      /*Firefox 1-3*/
      -webkit-box-sizing: border-box;
      /* Safari */
      width: 61px;
      height: 65px;
      margin-right: 12px; }
    /* line 411, ../sass/screen.scss */
    .main .maincontent aside .day {
      font-size: 16px;
      font-family: "Open Sans Semibold";
      color: #444444;
      margin-left: 9px;
      padding-bottom: 9px; }
    /* line 419, ../sass/screen.scss */
    .main .maincontent aside .mouth {
      font-size: 10px;
      font-family: "Open Sans Semibold";
      color: #444444; }
    /* line 425, ../sass/screen.scss */
    .main .maincontent aside .preview a {
      font-family: "Open Sans", arial;
      font-size: 13px;
      color: #777777;
      text-decoration: none; }
    /* line 432, ../sass/screen.scss */
    .main .maincontent aside .all_news {
      margin-top: 15px;
      float: right;
      color: red;
      font-size: 13px;
      font-family: "Open Sans", arial; }
  /* line 441, ../sass/screen.scss */
  .main .maincontent .advantage {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: -20px;
  }
  /* line 447, ../sass/screen.scss */
  .main .maincontent .advantage h2 {
    padding-left: 20px;
    font-size: 20px;
    font-family: "Open Sans";
    color: #87888a;
    font-weight: 500;
    padding-bottom: 15px; }
  /* line 457, ../sass/screen.scss */
  .main .maincontent .advantage div.diler, .main .maincontent .advantage div.service, .main .maincontent .advantage div.dostavka, .main .maincontent .advantage div.viezd,.main .maincontent .advantage div.bosh {
    background: #022f56;
    float: left;
    height: 271px;
    position: relative;}
  /* line 463, ../sass/screen.scss */
  .main .maincontent .advantage div.diler:hover, .main .maincontent .advantage div.service:hover, .main .maincontent .advantage div.dostavka:hover, .main .maincontent .advantage div.viezd:hover, .main .maincontent .advantage div.bosh:hover {
    background: #fff;
    cursor: pointer; }
    /* line 467, ../sass/screen.scss */
    .main .maincontent .advantage div.diler:hover .desc {
      color: #022f56;
      background: #fff;
      cursor: pointer; }
  /* line 474, ../sass/screen.scss */
  .main .maincontent .advantage img {
    padding: 32px 39px 30px 38px;
    /*float: left;*/}
  /* line 478, ../sass/screen.scss */
  .main .maincontent .desc {
    font-size: 14px;
    color: #fff;
    font-family: "Open Sans", arial;
    width: 200px;
    text-align: center; }
  /* line 488, ../sass/screen.scss */
  .main .maincontent .about .head {
    padding-bottom: 20px; }
  /* line 490, ../sass/screen.scss */
  .main .maincontent .about h2 {
    margin-right: 20px;
    font-size: 20px;
    font-family: "Open Sans";
    color: #87888a;
    font-weight: 500;
    padding-bottom: 15px;
    border-bottom: 1px solid #87888a; }
  /* line 501, ../sass/screen.scss */
  .main .maincontent .about .text {
    padding-right: 20px; }
  /* line 503, ../sass/screen.scss */
  .main .maincontent .about .text img {
    float: left;
    padding-right: 20px; }
  /* line 508, ../sass/screen.scss */
  .main .maincontent .about .text p {
    font-family: "Open Sans", arial;
    font-size: 13px;
    color: #777777;
    padding-bottom: 20px;
    text-align: justify; }

/* line 520, ../sass/screen.scss */
footer {
  background: #444444;
  width: 1000px;
  overflow: hidden; }
  /* line 525, ../sass/screen.scss */
  footer .footerwrapper {
    padding-top: 20px;
    padding-left: 20px; }
  /* line 530, ../sass/screen.scss */
  footer .footerwrapper div {
    /*float: left;*/
	display: inline-block;}
  /* line 534, ../sass/screen.scss */
  footer .footer_logo, footer .leftli, footer .rightli {
    padding-right: 57px;
	float: left;}
  /* line 536, ../sass/screen.scss */
  footer ul {
    list-style-image: url("../images/footer/list.png");
    padding-bottom: 15px; }
  /* line 541, ../sass/screen.scss */
  footer li {
    font-size: 13px;
    color: #fff;
    font-family: "Open Sans", arial;
    line-height: 1.8;}
  /* line 547, ../sass/screen.scss */
  footer li:hover {
    color: #7b7b7b;
    cursor: pointer; }
  /* line 549, ../sass/screen.scss */
  footer .footer_adress {
    font-family: "Open Sans", arial;
    color: #fff;
    font-size: 13px;
    padding-left: 68px;
    padding-bottom: 15px; }
  /* line 557, ../sass/screen.scss */
  footer .f_phone {
    padding-bottom: 15px; }
  /* line 558, ../sass/screen.scss */
  footer .f_phone span {
    font-size: 16px;
    font-family: "Open Sans Semibold"; }
  /* line 563, ../sass/screen.scss */
  footer .mera {
    border-bottom: 1px solid #7b7b7b;
    font-size: 13px;
    color: #fff;
    font-family: "Open Sans Semibold";
    letter-spacing: 1px;
    padding-bottom: 15px; }
  /* line 571, ../sass/screen.scss */
  footer .copyright {
    padding-top: 8px;
    color: #999999;
    font-size: 13px;
    font-family: "Open Sans", arial;
    padding-bottom: 10px; }
  /* line 579, ../sass/screen.scss */
  footer .designed {
    font-family: "Open Sans", arial;
    font-size: 13px;
    color: #999999;
    position: relative;
    left: 320px;
    top: -9px; }
  /* line 588, ../sass/screen.scss */
  footer .designed a {
    color: #999999; }
  /* line 590, ../sass/screen.scss */
  footer .designed img {
    vertical-align: top;
    padding-left: 5px; }
    
    .maincontent {
padding-left: 20px;
}

.maincontent .filter2 {
    font-size: 13px;
    font-family: "Open Sans", arial;
    color: #777777;
    letter-spacing: 0.3px;
    overflow: hidden;
    border: 2px solid #eeeeee;
    margin-right: 20px;
    margin-bottom: 20px; }
    /* line 860, ../sass/screen.scss */
    .maincontent .filter2 div {
      float: left; }
    /* line 862, ../sass/screen.scss */
    .maincontent .filter2 .filterwrapper {
      padding: 11px;
      border-bottom: 3px solid #eee; }
    /* line 864, ../sass/screen.scss */
    .maincontent .filter2 a {
      text-decoration: none;
      color: #777777; }
    /* line 869, ../sass/screen.scss */
    .maincontent .filter2 a:hover {
      text-decoration: underline; }
    /* line 871, ../sass/screen.scss */
    .maincontent .filter2 .sort {
      padding-right: 57px; }
    /* line 873, ../sass/screen.scss */
    .maincontent .filter2 .sort span {
      padding-right: 13px; }
    /* line 875, ../sass/screen.scss */
    .maincontent .filter2 .sort a {
      padding-right: 6px;
      letter-spacing: 0.9px; }
    /* line 877, ../sass/screen.scss */
    .maincontent .filter2 .vivod {
      padding-right: 2px; }
    /* line 879, ../sass/screen.scss */
    .maincontent .filter2 .vivod a {
      margin-left: 2px; }
    /* line 881, ../sass/screen.scss */
    .maincontent .filter2 .vivod span {
      margin-right: 4px; }
  /* line 884, ../sass/screen.scss */
  
  
  
  .maincontent .left_block {
    float: left;
width: 298px;
}
    /* line 730, ../sass/screen.scss */
    
      /* line 873, ../sass/screen.scss */
      .maincontent .left_block .slider_goods .slide-list {
       /* position: relative;*/
        margin: 0;
        padding: 0;
        /* ╨б╨║╤А╨╛╨╡╨╝ ╤В╨╛ ╤З╤В╨╛ ╨▓╤Л╤Е╨╛╨┤╨╕╤В ╨╖╨░ ╨│╤А╨░╨╜╨╕╤Ж╤Л */
        overflow: hidden;
        margin-top: 3px;
        margin-left: 4px; }
      /* line 882, ../sass/screen.scss */
      .maincontent .left_block .slider_goods .slide-wrap {
        position: relative;
        left: 0px;
        top: 0;
        /* ╨╝╨░╨║╤Б╨╕╨╝╨░╨╗╤М╨╜╨╛ ╨▓╨╛╨╖╨╝╨╛╨╢╨╜╨░╤П ╤И╨╕╤А╨╕╨╜╨░ ╨╛╨▒╨╡╤А╤В╨║╨╕ ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░ */
        width: 10000000px; }
      /* line 889, ../sass/screen.scss */
      .maincontent .left_block .slider_goods .slide-item {
        /* ╨и╨╕╤А╨╕╨╜╨░ ╤Б╨╗╨░╨╣╨┤╨░ */
        width: 213px;
        /* ╨Т╨╜╤Г╤В╤А╨╡╨╜╨╜╨╕╨╡ ╨╛╤В╤Б╤В╤Г╨┐╤Л */
        padding: 10px;
        /* ╨Ю╨▒╤В╨╡╨║╨░╨╜╨╕╨╡ */
        float: left; }
      /* line 898, ../sass/screen.scss */
      .maincontent .left_block .slider_goods .goods {
        margin-bottom: 10px;
        float: left; }
        /* line 904, ../sass/screen.scss */
        .maincontent .left_block .slider_goods .goods h4 {
          letter-spacing: 0.2px;
          padding-bottom: 6px; }
        /* line 905, ../sass/screen.scss */
        .maincontent .left_block .slider_goods .goods div, .maincontent .left_block .slider_goods .goods h4 {
          padding-bottom: 4px;
          margin-top: -6px;
          display: inline-block;
          width: 100%;}
        /* line 910, ../sass/screen.scss */
        .maincontent .left_block .slider_goods .goods .catalog_goods {
          margin-bottom: 23px; }
        /* line 912, ../sass/screen.scss */
        .maincontent .left_block .slider_goods .goods .description {
          font-family: "Open Sans Semibold", arial;
          font-size: 13px;
          color: #555555;
          background: #e8e8e8;
          letter-spacing: 0.2px;
          padding: 15px 15px 8px 15px;
          margin-bottom: 8px;
          display: inline-block;
          width: 183px;
          }
        /* line 923, ../sass/screen.scss */
        .maincontent .left_block .slider_goods .goods .artikul {
          font-family: "Open Sans", arial;
          font-size: 13px; }
        /* line 928, ../sass/screen.scss */
        .maincontent .left_block .slider_goods .goods .cost {
          font-family: "Open Sans Semibold", arial;
          font-size: 13px;
          color: #777777;
          padding-right: 10px;
          margin-left: 15px; }
        /* line 936, ../sass/screen.scss */
        .maincontent .left_block .slider_goods .goods .sale {
          font-family: "Open Sans", arial;
          font-weight: bold;
          color: #e2001a;
          font-size: 18px;
          }
        /* line 944, ../sass/screen.scss */
        .maincontent .left_block .slider_goods .goods .prise {
          margin-bottom: 18px;
          padding-top: 5px; }
        /* line 949, ../sass/screen.scss */
        .maincontent .left_block .slider_goods .goods .prise img {
          vertical-align: top; }
        /* line 951, ../sass/screen.scss */
        .maincontent .left_block .slider_goods .goods .tocart a {
          font-family: "Open Sans Semibold", arial;
          font-size: 11px;
          color: #fff;
          background: #e2001a;
          padding: 7px 58px 12px 65px;
          text-decoration: none;
          white-space: nowrap; }
        /* line 961, ../sass/screen.scss */
        .maincontent .left_block .slider_goods .goods .tocart a:hover {
          background: #fff;
          color: red;
          border: 1px solid red; }
        /* line 967, ../sass/screen.scss */
        .maincontent .left_block .slider_goods .goods .tocart a:before {
          content: url("/bitrix/templates/main/images/maincontent/cart.png");
          padding-right: 10px;
          vertical-align: sub; }
        /* line 973, ../sass/screen.scss */
        .maincontent .left_block .slider_goods .goods .tocart a:hover:before {
          content: url("/bitrix/templates/main/images/maincontent/redcart.png"); }
      /* line 978, ../sass/screen.scss */
      
    /* line 1004, ../sass/screen.scss */
    .maincontent .left_block .slider_goods::-moz-selection {
      background: transparent;
      color: #fff;
      text-shadow: none; }
    /* line 1005, ../sass/screen.scss */
    .maincontent .left_block .slider_goods::selection {
      background: transparent;
      color: #fff;
      text-shadow: none; }
    /* line 1007, ../sass/screen.scss */
    .maincontent .left_block h3#spec {
      position: relative;
      font-family: "Open Sans Semibold", arial;
      font-size: 20px;
      color: #e2001a;
      letter-spacing: .3px;
      display: inline-block;
padding-top: 20px;}
    /* line 1015, ../sass/screen.scss */

  /* line 1023, ../sass/screen.scss */
  .maincontent .right_block{
    float: left;
    display: inline-block;
  }
  
  .maincontent .right_block .filter2 {
    font-size: 13px;
    font-family: "Open Sans", arial;
    color: #777777;
    letter-spacing: 0.3px;
    overflow: hidden;
    border: 2px solid #eeeeee;
    margin-right: 18px;
    margin-bottom: 20px; }
    /* line 1034, ../sass/screen.scss */
    .maincontent .right_block .filter2 div {
      float: left; }
    /* line 1036, ../sass/screen.scss */
    .maincontent .right_block .filter2 .filterwrapper {
      padding: 11px;
      border-bottom: 3px solid #eee; }
    /* line 1038, ../sass/screen.scss */
    .maincontent .right_block .filter2 a {
      text-decoration: none;
      color: #777777; }
    /* line 1043, ../sass/screen.scss */
    .maincontent .right_block .filter2 a:active {
      text-decoration: underline; }
    /* line 1045, ../sass/screen.scss */
    .maincontent .right_block .filter2 .sort {
      padding-right: 60px; }
    /* line 1047, ../sass/screen.scss */
    .maincontent .right_block .filter2 .sort span {
      padding-right: 13px; }
    /* line 1049, ../sass/screen.scss */
    .maincontent .right_block .filter2 .sort a {
      padding-right: 6px;
      letter-spacing: 0.9px; }
    /* line 1051, ../sass/screen.scss */
    .maincontent .right_block .filter2 .vivod {
      padding-right: 2px; }
    /* line 1053, ../sass/screen.scss */
    .maincontent .right_block .filter2 .vivod a {
      margin-left: 2px; }
    /* line 1055, ../sass/screen.scss */
    .maincontent .right_block .filter2 .vivod span {
      margin-right: 4px; }
  /* line 1058, ../sass/screen.scss */
  .maincontent .pagination {
    float: left; }
    /* line 1061, ../sass/screen.scss */
    .maincontent .pagination ul {
      list-style: none;
      position: relative;
      left: 0;
      top: 19px;
      padding-bottom: 104px; }
    /* line 1069, ../sass/screen.scss */
    .maincontent .pagination li {
      float: left;
      cursor: pointer;
      height: 16px;
      width: 18px;
      padding: 7px;
      border: 1px solid #eeeeee;
      padding-right: 4px;
      margin-right: 7.8px;
      text-align: center;}
    /* line 1080, ../sass/screen.scss */
    .maincontent .pagination li:first-child:hover, .maincontent .pagination li:last-child:hover {
      background: #e2001a; }
    /* line 1084, ../sass/screen.scss */
    .maincontent .pagination a {
      font-family: "Open Sans", arial;
      color: #777777;
      text-decoration: none;
      position: relative;
      bottom: 2px; }
    /* line 1093, ../sass/screen.scss */
    .maincontent .pagination li:first-child a {
      content: url("../images/catalog/left_pag_arrow.png");
      top: 1px; }
    /* line 1097, ../sass/screen.scss */
    .maincontent .pagination li:last-child a {
      content: url("../images/catalog/right_pag_arrow.png");
      top: 1px; }
    /* line 1102, ../sass/screen.scss */
    .maincontent .pagination li:first-child:hover a {
      content: url("../images/catalog/white_left_pag_arrow.png");
      cursor: pointer;
      top: 1px; }
    /* line 1107, ../sass/screen.scss */
    .maincontent .pagination li:last-child:hover a {
      content: url("../images/catalog/white_right_pag_arrow.png");
      cursor: pointer;
      top: 1px; }
    /* line 1113, ../sass/screen.scss */
    .maincontent .pagination .active {
      border-color: #e2001a; }
      /* line 1116, ../sass/screen.scss */
      .maincontent .pagination .active a {
        color: #e2001a; }
        
    .maincontent h2 {
      color: #87888a;
      font-size: 18px;
      font-family: "Open Sans", arial;
      padding-bottom: 8px;
      letter-spacing: 0.3px;
      }
      
.nav ul li.ui-tabs-active {
        border-bottom: 2px solid #e2001a;
}
/*.red_star {
        background-image: url("../images/stars.png");
		margin-right: 15px;
		width: 47px;
		height: 16px;
}*/
.nav ul li img {
        margin-right: 15px;
}
.remod_h1 h1, .remod_h1 h2, .remod_h1 h3 {
        font-family: "Open Sans Semibold", arial;
        color: #e2001a;
        float: left!important;
        height: 32px;
        padding: 0 30px 0 30px;
        border-bottom: 3px solid #e2001a;
        margin: 0px;
        font-size: 14px;
        text-transform: uppercase;
}
.forgot_pass {
        float: right;
        color: #777;
        font-family: "Open Sans Semibold", arial;
        font-size: 13px;
        margin-right: 5px;
}
.remember_check li {
        font-family: "Open Sans Semibold", arial;
        font-size: 13px;
        width: 155px!important;
        margin: 0px 0 0 124px;
        color: #777;
}
.size_check li {
        display: inline-block;
        width: 40px;
        /* height: 20px; */
        margin: 0 30px 12px 0;
        float: left;
}


 .main .maincontent .tabs {
      display: inline-block;
      float: left;
    }
    
    
    
.drop-wrap {
		display: none;
		position: absolute;
		z-index: 100;
		width: 400px;
		border: 1px solid #19507c;
		border-top: none;
		background: #fff;
		margin-left: -1px;
	}
        
.services_menu .drop-wrap {
		right: 0px;
		width: 200px;
	}
        
.services_menu .drop-wrap .list_drop {
  width: 187px;
}

.services_menu .drop-wrap .drop-menu {
padding-top: 0;
width: 200px;
}

.main .mainmenu li.services_menu:hover {
border-left: none;
/*border-right: 1px solid #19507c;*/
}

	.drop-wrap2 {
		display: none;
		position: absolute;
		z-index: 100;
		width: 400px;
		border: 1px solid #19507c;
		background: #fff;
		top: -1px;
                left: 298px;
	}
	.drop-wrap3 {
		display: none;
		position: absolute;
		z-index: 100;
		width: 400px;
		border: 1px solid #19507c;
		border-top: none;
		background: #fff;
		/*top: 63px;
		left: 400px;*/
		border-top: 1px solid #19507c;
	}
	.drop-wrap2 a {
		width: 383px!important;
		padding: 5px;
		color: #666!important;
	}
	.drop-wrap2 a:hover {
		background-color: #e8e8e8
	}
	.drop-wrap3 a {
		width: 383px!important;
		padding: 7px;
		color: #666!important;
	}
	.drop-wrap3 a:hover {
		background-color: #e8e8e8
	}
	.hover2 .drop-wrap2{
		display: block;
	}
	.hover .drop-wrap{
		display: block;
	}
	.hover3 .drop-wrap3{
		display: block;
	}
	.drop-menu {
		padding-top: 0;
		width: 400px;
	}
	.drop-menu2 a:hover {
		color: #777!important;
	}
	.list_drop {
		height: auto;
		padding: 6px 0 10px 13px;
		/*border-bottom: 2px solid #eee;*/
		width: 387px;
		border-top: none!important;
		border-left: none!important;
		position: relative;
	}
	.list_drop a {
		color: #777!important;
		display: inline-block;
		width: 252px;
		padding-left: 10px!important;
		margin: 0px!important;
	}
	.list_drop img {
		display: inline-block;
		vertical-align: top!important;
		margin: 0px!important;
		padding: 0px!important;
	}
	.drop-menu a {
		color: #555!important;
		font: 11px "Open Sans Semibold", arial;
		text-decoration: none;
		border-bottom: none;
		
	}
	.drop-menu a:hover {
		color: #32648f!important;
		text-decoration: underline;
	}
	.list_drop a:before {
		content: url("/bitrix/templates/main/images/footer/list.png");
		margin-right: 10px;
	}
	/*.list_drop a:hover:before {
		content: url("../img/footer/list.png")!important;
		margin-right: 10px!important;
	}*/
	.under_menu {
		border: none; 
		background-color: #eee;
		color: #1a1a1a; 
		height: 1px;
		margin: 0px;
	}
	.hr_margin {
		margin-bottom: 30px;
	}
	.change_line {
		display: table;
		/*width: 700px;*/
		margin-left: auto;
		margin-right: auto;
		margin: 0 0 10px 0;
		color: #234e73;
	}
	.before_input {
		display: inline-block;
		margin-right: 15px;
		font-family: "Open Sans Semibold", arial;
		font-size: 13px;
		width: 160px;
		text-align: right;
                vertical-align: middle;
	}
        .before_input img{
		width: 100%;
                height: 100%;
	}
        
        .change_line span {
                color: red;
                display: inline-block;
                font-family: "Open Sans Semibold", arial;
                font-size: 11px;
                width: 440px;
                margin-left: 150px;
                }
                
        .change_line.error {
                margin-top: -10px;
        }

	.input_line {
		display: inline-block;
		font-family: "Open Sans Semibold", arial;
		font-size: 13px;
		padding: 5px 10px;
		width: 440px;
	}
	.required_forms {
		font-family: "Open Sans Semibold", arial;
		font-size: 13px;
		color: #777;
		float: left;
		margin-left: 175px;
	}
	.under_catalog {
		border: none; 
		background-color: #eeeeee;
		color: #eeeeee; 
		height: 2px;
		margin: 15px 0 15px 0;
	}
	.move_button {
		margin-left: 175px;
		display: table;
	}
	.continue {
		font-family: "Open Sans Semibold", arial;
		font-size: 11px;
		color: #fff;
		background: #e2001a;
		padding: 12px 30px 11px 30px;
		text-decoration: none;
		white-space: nowrap;
                border: none;
		border-bottom: 2px solid #bb0b14;
	}
        .button_enter {
		font-family: "Open Sans Semibold", arial;
		font-size: 11px;
		color: #fff;
		background: #e2001a;
		padding: 12px 30px 11px 30px;
		text-decoration: none;
		white-space: nowrap;
                border: none;
		border-bottom: 2px solid #bb0b14;
	}
.button_enter:hover {
cursor: pointer;
	}
        
.necessary{
  display: inline-block;
}

.maincontent .catalog-element {
 margin-right: 20px;
}


.main .maincontent .gallery {

		width: 916px!important;
		float: left;
		margin: 0 auto;
		/*height: 657px;*/
		margin-left: 9px;
	}
	.main .maincontent .gallery .catalog_goods {
		margin-bottom: 23px;
		position: relative;
	}
	.main .maincontent .gallery .goods div, .main .maincontent .content h4 {
		padding-bottom: 4px;
		margin-top: -5px;
		max-height: 50px;
		min-height: 50px;
		overflow: hidden;
	}
	.main .maincontent .content .gallery .goods .description {
		font-family: "Open Sans Semibold", arial;
		font-size: 13px;
		color: #555555;
		background: #e8e8e8;
		padding: 15px 15px 8px 15px;
		margin-bottom: 8px;
	}
	.main .maincontent .gallery .prise {
		margin-bottom: 18px;
		padding-top: 5px;
	}
	.main .maincontent .gallery .cost {
		font-family: "Open Sans Semibold", arial;
		font-size: 13px;
		color: #777777;
		padding-right: 5px;
		margin-left: 18px;
	}
	.main .maincontent .gallery .sale {
	font-family: "Open Sans", arial;
	font-weight: bold;
	color: #e2001a;
	font-size: 18px;
/* padding-right: 26px; */
	}
	.main .maincontent .gallery .prise img {
		vertical-align: top;
	}
	.main .maincontent .gallery .goods div, .main .maincontent .gallery h4 {
		padding-bottom: 4px;
		margin-top: -5px;
	}
	.main .maincontent .gallery .tocart a {
		font-family: "Open Sans Semibold", arial;
		font-size: 11px;
		color: #fff;
		background: #e2001a;
		padding: 10px 63px 7px 60px;
		text-decoration: none;
		white-space: nowrap;
		border: 1px solid red;
                padding: 10px 0px 11px 0px;
	}
	.main .maincontent .gallery .tocart a:before {
		content: url("/bitrix/templates/main/images/maincontent/cart.png");
		padding-right: 10px;
		vertical-align: sub;
	}
	.main .maincontent .gallery .tocart a:hover {
		background: #fff;
		color: red;
		border: 1px solid red;
	}
	.main .maincontent .gallery .tocart a:hover:before {
		content: url("/bitrix/templates/main/images/maincontent/redcart.png");
	}
	.gallery li {
		display: inline-block;
	}
	.wrap_gallery {
		margin-left: 0;
		margin-right: 0;
		height: auto;
		width: 933px;
		position: relative;
		overflow: hidden;
		padding-left: 15px;
		padding-right: 30px;
	}
        
        .inline_slides {
		display: inline-block;
		width: auto!important;
		height: auto!important;
		cursor: pointer;
	}
        
        .owl-prev {
		position: absolute;
		background: url("/bitrix/templates/main/images/catalog/left_black_arrow.png");
		background-repeat: no-repeat;
		text-indent: 1000000px;
		bottom: 329px;
		left: 0px;
		cursor: pointer;
		width: 19px;
		height: 22px;
	}
	.owl-next {
		position: absolute;
		background: url("/bitrix/templates/main/images/catalog/right_black_arrow.png");
		background-repeat: no-repeat;
		text-indent: 1000000px;
		padding-bottom: 19px;
		right: 10px;
		bottom: 310px;
		cursor: pointer;
		width: 19px;
		height: 22px;
	}
	.owl-next:hover {
		background: url("/bitrix/templates/main/images/catalog/right_red_arrow.png") no-repeat;
	}
	.owl-prev:hover {
		background: url("/bitrix/templates/main/images/catalog/left_red_arrow.png") no-repeat;
	}
        
.main .maincontent .content.action {
margin-left: 20px;
width: 1000px;
float: left;
padding-right: 15px;
}



.under_menu {
border: none;
background-color: #eee;
color: #1a1a1a;
height: 1px;
margin: 0px;
margin-bottom: 30px;
width: 638px;
}

.under_catalog {
border: none;
background-color: #eeeeee;
color: #eeeeee;
height: 2px;
margin: 15px 0 15px 0;
width: 638px;
}

.move_button {
margin: 33px 0 16px 175px;
display: table;
}

.forgot_pass {
		float: right;
		color: #777;
		font-family: "Open Sans Semibold", arial;
		font-size: 13px;
		margin-right: 5px;
	}
	.forgot_pass:hover {
		text-decoration: none;
	}
	.remember_check li {
		font-family: "Open Sans Semibold", arial;
		font-size: 13px;
		width: 155px!important;
		color: #777;
		display: inline-block;
		float: left;
		margin: 0 0px 12px 164px;
	}
        
.diler_hover {
  background: #fff!important;
  float: left;
  height: 270px;
  width: 200px;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  /*display: none;*/
}


.categories {
  font-family: "Open Sans", arial;
  border: 2px solid #eee;
  margin-bottom: 27px;
  width: 280px;
  display: inline-block;
  float: left;
}

.categories p {
		color: #2d618b;
		background-color: #e8e8e8;
		font-size: 15px;
		text-align: center;
		padding: 12px 0 15px 0;
	}
	.maincontent h2 {
		padding: 8px 0;
	}
	.categ_photo {
		display: inline-block;
		width: 666px;
		margin-left: 13px;
	}
        
        .categ_photo a.one_pos_a {
          display: inline-block;
          width: 213px;
        }

	.one_position {
		display: inline-block;
		width: 213px;
		height: 196px;
		border: 1px solid #2d618b;
		box-sizing: border-box;
		position: relative;
		margin: 0 8px 13px 0;
		cursor: pointer;
	}
	.one_position:nth-child(3n) {
		margin: 0 0 13px 0;
	}
	.one_position p {
		font-size: 14px;
		color: #2d618b;
		margin: 0 0 13px 13px;
		font-family: "Open Sans Semibold";
		position: absolute;
		bottom: 0px;
	}
	.one_position img {
		/*margin: 22px 0;*/
                display: block;
	}
	.hover_prevtext .hover_obsor {
		display: block;
	}
	.hover_obsor {
		display: none;
		position: absolute;
		width: 213px;
		height: 210px;
		background-color: #2d618b;
		z-index: 100;
		top: 192px;
		left: -2px;
	}
	.hov_text {
		color: #fff;
		font-size: 13px;
		font-family: "Open Sans";
		padding: 13px;
		margin: 0px;
	}
	.hover_obsor a {
		color: #fff;
		font-size: 13px;
		font-family: "Open Sans";
		padding: 13px;
	}
	.hover_obsor a:hover {
		text-decoration: none;
	}
        
        
        
  /* line 1151, ../sass/screen.scss */
  .categories #cat_head {
    color: #2C6189;
    margin-left: -3px;
    letter-spacing: 0.1px;
    padding-bottom: 20px;
    font-size: 15px;
    letter-spacing: .3px;
    background: #eee;
    padding: 10px 37px 14px 18px;
    margin-bottom: 6px; }
  /* line 1163, ../sass/screen.scss */
  .categories ul {
    list-style: none;
    margin-left: 0px; }
  /* line 1165, ../sass/screen.scss */
  .categories li {
    margin-bottom: 8px;
    letter-spacing: -.3px;
    margin-left: 2px;
    padding-left: 14px;
    margin-bottom: 3px;
    padding: 1px 0 4px 0;
    letter-spacing: -.3px;
    margin-left: 2px;
    padding-left: 14px;
    list-style: none;}
  /* line 1177, ../sass/screen.scss */
  .categories li a {
    text-decoration: none;
    font-size: 13px;
    color: #555555;
    letter-spacing: .3px; }
  /* line 1179, ../sass/screen.scss */
  .categories li a:before {
    /*content: url("/bitrix/templates/main/images/footer/list.png");
    padding-right: 7px; */}
  /* line 1180, ../sass/screen.scss */
  .categories li:hover {
    background: #2d618b; }
    /* line 1182, ../sass/screen.scss */
    .categories li:hover a {
      color: #fff; }
      
/*.categories li.lvl_1 {
    margin-bottom: 8px;
    margin-left: 0px;
    margin-bottom: 3px;
    padding: 1px 0 4px 0;
    letter-spacing: -.3px;
    padding-left: 14px;
    list-style: none;}
    
.categories li.lvl_1 a{
    font-size: 15px;
    font-weight: 600;}*/
    
          .maincontent #spec:before {
		content: url("/bitrix/templates/main/images/maincontent/stars.png");
		margin-right: 11px;
	}
	.maincontent h3 {
		position: relative;
		font-family: "Open Sans Semibold", arial;
		font-size: 20px;
		color: #e2001a;
		letter-spacing: .3px;
		border-bottom: 2px solid #eee;
		padding-bottom: 1px;
	}
        
        
div#map {
float: left;
display: inline-block;
width: 100%;
margin-bottom: 20px;
}

li.hover2 {
position: relative;
}

.bx_breadcrumbs {
  padding-bottom: 10px;
  padding-top: 0px;
  border-bottom: 2px solid #eee;
  margin-bottom: 0;
  margin-right: 20px;
}

.maincontent h1 {
color: #87888a;
font-size: 20px;
font-family: "Open Sans", arial;
padding-bottom: 8px;
letter-spacing: 0.3px;
padding: 0 0 8px 0;
}

.content.ajax-loading{
  opacity: 0.5;
}

.content.ajax-loading .ajax-loader{
  display: block;
}

.ajax-loader {
display: none;
position: absolute;
top: 5px;
right: 10px;
z-index: 10;
}


.bx_content_section .tocart a,  .bx_content_section .tocart button {
          font-family: "Open Sans Semibold";
         font-size: 11px;
         color: #fff;
         background: #e2001a;
         text-decoration: none;
         width: 100%; 
         /*display: inline-block;*/
         text-transform: uppercase;
         padding: 8px 60px 9px 57px;
         white-space: nowrap;
         border-bottom: 2px solid #bb0b14;
         border-top: 2px solid #e2001a;
         border-right: 2px solid #e2001a;
         border-left: 2px solid #e2001a;}
    
    .main .maincontent .bx_content_section .tocart button:before {
content: url("/bitrix/templates/main/images/maincontent/cart.png");
padding-right: 10px;
vertical-align: sub;
}
    .main .maincontent .bx_content_section .tocart button:hover:before, .main .maincontent .bx_content_section .tocart button.already_in_cart:before {
content: url("/bitrix/templates/main/images/maincontent/redcart.png");
padding-right: 10px;
vertical-align: sub;
}
    
.main .maincontent .bx_content_section .tocart button.already_in_cart {
font-family: "Open Sans Semibold";
font-size: 11px;
text-decoration: none;
 width: 100%; 
display: inline-block;
text-transform: uppercase;
padding: 8px 47px 9px 45px;
white-space: nowrap;
border-bottom: 2px solid #bb0b14;
border-top: 2px solid #e2001a;
border-right: 2px solid #e2001a;
border-left: 2px solid #e2001a;
}  
    
     .bx_content_section .tocart a:hover,  .bx_content_section .tocart button:hover, .main .maincontent .bx_content_section .tocart button.already_in_cart {
      background: #fff;
      color: red;
      }
      
      .main .maincontent .bx_content_section .tocart button:hover:before, .main .maincontent .bx_content_section .tocart button.already_in_cart:before {
         content: url("/bitrix/templates/main/images/maincontent/redcart.png");
padding-right: 10px;
vertical-align: sub;
      }
      
      .maincontent .left_block .slider_goods .goods .tocart a {
font-family: "Open Sans Semibold", arial;
font-size: 11px;
color: #fff;
background: #e2001a;
padding: 11px 0px 12px 0px;
text-decoration: none;
white-space: nowrap;
text-align: center;
}

a.image_action {
width: 100%;
min-height: 140px;
display: inline-block;
text-align: center;
background: white;
}