.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}

 .bx_content_section .goods {
      width: 213px;
      margin-right: 14px;
      margin-bottom: 10px;
      float: left;
      /*min-height: 367px;*/}
    /* line 298, ../sass/screen.scss */
     .bx_content_section .goods div,  .content h4 {
      padding-bottom: 15px; }
    /* line 302, ../sass/screen.scss */
     .bx_content_section .description {
      font-family: "Open Sans Semibold";
      font-size: 13px;
      color: #333;
      background: #e8e8e8;
      padding: 15px 15px 8px 15px;
      margin-bottom: 8px; }
    /* line 311, ../sass/screen.scss */
     .bx_content_section .artikul {
      font-family: "Open Sans", arial;
      font-size: 13px; }
    /* line 316, ../sass/screen.scss */
     .bx_content_section .cost {
      font-family: "Open Sans Semibold";
      font-size: 13px;
      color: #777777;
      padding-right: 10px;
      margin-left: 15px; }
    /* line 324, ../sass/screen.scss */
     .bx_content_section .sale {
      font-family: "Open Sans", arial;
      font-weight: bold;
      color: #e2001a;
      font-size: 18px;
      padding-right: 26px; }
    /* line 332, ../sass/screen.scss */
     .bx_content_section .prise img {
      vertical-align: top; }
    /* line 334, ../sass/screen.scss */
     .bx_content_section .tocart a,  .bx_content_section .tocart button {
          font-family: "Open Sans Semibold";
         font-size: 11px;
         color: #fff;
         background: #e2001a;
         text-decoration: none;
         /* width: 100%; */
         display: inline-block;
         text-transform: uppercase;
         padding: 8px 60px 9px 57px;
         white-space: nowrap;
         border-bottom: 2px solid #bb0b14;
         border-top: 2px solid #e2001a;
         border-right: 2px solid #e2001a;
         border-left: 2px solid #e2001a;}
    
    .main .maincontent .bx_content_section .tocart button:before {
content: url("/bitrix/templates/main/images/maincontent/cart.png");
padding-right: 10px;
vertical-align: sub;
}
    .main .maincontent .bx_content_section .tocart button:hover:before, .main .maincontent .bx_content_section .tocart button.already_in_cart:before {
content: url("/bitrix/templates/main/images/maincontent/redcart.png");
padding-right: 10px;
vertical-align: sub;
}
    
.main .maincontent .bx_content_section .tocart button.already_in_cart {
font-family: "Open Sans Semibold";
font-size: 11px;
text-decoration: none;
/* width: 100%; */
display: inline-block;
text-transform: uppercase;
padding: 8px 47px 9px 45px;
white-space: nowrap;
border-bottom: 2px solid #bb0b14;
border-top: 2px solid #e2001a;
border-right: 2px solid #e2001a;
border-left: 2px solid #e2001a;
}  
    
     .bx_content_section .tocart a:hover,  .bx_content_section .tocart button:hover, .main .maincontent .bx_content_section .tocart button.already_in_cart {
      background: #fff;
      color: red;
      }
      
      .main .maincontent .bx_content_section .tocart button:hover:before, .main .maincontent .bx_content_section .tocart button.already_in_cart:before {
         content: url("/bitrix/templates/main/images/maincontent/redcart.png");
padding-right: 10px;
vertical-align: sub;
      }
    /* line 349, ../sass/screen.scss */
.content .bx_content_section a img,  .bx_content_section .tocart button img {
         padding-right: 10px;
         vertical-align: sub;
}
      
      
      
.main .maincontent .bx_content_section .goods div.act_date {
         width: 106px;
         height: 31px;
         background: url("/bitrix/templates/main/images/sprite.png") 0px -72px;
         position: absolute;
         top: 103px;
         left: 13px;
         z-index: 1;
}
.main .maincontent .bx_content_section .goods div.act_date p {
         font-family: "Open Sans Semibold", arial;
         font-size: 11px;
         color: #fff;
         text-transform: uppercase;
         padding: 7px;
         text-align: center;
}
        
.main .maincontent .bx_content_section .gallery .goods div {
         padding-bottom: 4px;
         margin-top: 0px;
}

.main .maincontent .bx_content_section .catalog_goods a.image_action {
         width: 100%;
         min-height: 140px;
         display: inline-block;
         text-align: center;
         background: white;
}

.main .maincontent .bx_content_section .gallery .tocart a {
font-family: "Open Sans Semibold", arial;
font-size: 11px;
color: #fff;
background: #e2001a;
padding: 10px 64px 7px 64px;
text-decoration: none;
white-space: nowrap;
border: 1px solid red;
/* padding: 10px 0px 11px 0px; */
display: inline-block;
}

.main .maincontent .bx_content_section .gallery .goods div.prise {
min-height: 24px;
}

.main .maincontent .bx_content_section .gallery .cost {
font-family: "Open Sans Semibold", arial;
font-size: 13px;
color: #777777;
padding-right: 5px;
margin-left: 18px;
text-decoration: line-through;
}



.main .maincontent .content .goods div.wrap-pr {
  padding: 0;
  padding-bottom: 0px;
  min-height: 45px;
  padding-bottom: 0px;

}
body .main .maincontent .content .goods div.new_sale {
  width:auto;
}

.name_price {
  float: left;
    width: 64px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 15px;
    min-height: 24px;
    padding-left: 12px; 
}
p.new_sale, p.new_cost {
  margin-bottom: 0;
  padding-bottom: 0;
}

.grey-price {
      position: relative;
    left: 13px;
}

.main .maincontent .content .grey-price .cost
{
  margin-left: 0px;
}