a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}

.main .maincontent .bx_content_section .content .goods {
width: 213px;
margin-right: 30px;
margin-bottom: 10px;
float: left;
}