.maincontent .sort {
    padding-bottom: 6px; }
  /* line 1266, ../sass/screen.scss */
  .maincontent .sort td {
    font-size: 14px;
    font-family: "Open Sans", arial;
    color: #234E73;
    letter-spacing: .3px; }
  /* line 1273, ../sass/screen.scss */
  .maincontent .sort_wrapp {
    border-bottom: 1px solid #eee;
    padding-bottom: 11px;
    margin-right: 16px; }
  /* line 1279, ../sass/screen.scss */
  .maincontent .name {
    padding-right: 498px; }
  /* line 1280, ../sass/screen.scss */
  .maincontent .kolvo {
    padding-right: 70px; }
  /* line 1281, ../sass/screen.scss */
  .maincontent .cena {
    padding-right: 98px; }
    
    .maincontent .cart_item table .form .goods_number::-webkit-inner-spin-button {
          opacity: 1; }
        /* line 1324, ../sass/screen.scss */
        .maincontent .cart_item table .form .goods_number {
          padding-left: 1px;
          padding-bottom: 7px;
          padding-top: 6px;
          width: 73px; }