.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}

 .content .goods {
      width: 213px;
      margin-right: 14px;
      margin-bottom: 10px;
      float: left;
      min-height: 350px;}
    /* line 298, ../sass/screen.scss */
     .content .goods div,  .content h4 {
     /* padding-bottom: 15px; */}
    /* line 302, ../sass/screen.scss */
     .content .description {
      font-family: "Open Sans Semibold";
      font-size: 13px;
      color: #555555;
      background: #e8e8e8;
      padding: 15px 15px 8px 15px;
      margin-bottom: 8px; }
    /* line 311, ../sass/screen.scss */
     .content .artikul {
      font-family: "Open Sans", arial;
      font-size: 13px; }
    /* line 316, ../sass/screen.scss */
     .content .cost {
      font-family: "Open Sans Semibold";
      font-size: 13px;
      color: #777777;
     /* padding-right: 10px;
      margin-left: 15px; */}
    /* line 324, ../sass/screen.scss */
     .content .sale {
      font-family: "Open Sans", arial;
      font-weight: bold;
      color: #e2001a;
      font-size: 18px;
      padding-right: 26px; }
    /* line 332, ../sass/screen.scss */
     .content .prise img {
      vertical-align: top; }
    /* line 334, ../sass/screen.scss */
     .content .tocart a,  .content .tocart button {
      font-family: "Open Sans Semibold";
      font-size: 11px;
      color: #fff;
      background: #e2001a;
      padding: 11px 65px 12px 60px;
      text-decoration: none;
      border: none;}
    /* line 343, ../sass/screen.scss */
     .content .tocart a:hover,  .content .tocart button:hover, .content .tocart a.already_in_cart {
      background: #fff;
      color: red;
      border: 1px solid red; }
    /* line 349, ../sass/screen.scss */
     .content .tocart a img,  .content .tocart button img {
      padding-right: 10px;
      vertical-align: sub; }
      
.main .maincontent .content .goods a.image_action {
	width: 100%;
	min-height: 140px;
	display: inline-block;
	text-align: center;
	background: white;
}