#success {
	width: 500px !important;
	height: auto !important;
	padding: 20px 20px 0 !important;
}

#success .cart-test.necessary {
    height: 100% !important;
	top: 0px !important;
	bottom: 0px !important;
	margin: 20px 0 0px !important;
	border: none !important;
	position: relative !important;
}

.maincontent h3 {
	padding-bottom: 10px !important;
}

.jcarousel-wrapper {
    margin: 15px auto;
    position: relative;
    border: none;
    box-shadow: none !important;
}

.jcarousel-wrapper:before {
   content: "";
   display: block;
   width: 100%;
   height: 30px;
   position: absolute;
   bottom: 57px;
   background-color: #fff;
   z-index: 99;
}
.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    max-height: 358px;/*385px;*/
}

.jcarousel img {
    display: block;
}

.jcarousel ul {
    width: 100%;
    height: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0 !important;
}

#success .jcarousel li.product_necess {
    float: left;
	padding: 0px 3px;
	width: 490px !important;
    margin-right: 0 !important;
    height: 95px !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    font: 24px/27px Arial, sans-serif;
    box-shadow: none;
    background: none;
	cursor: pointer;
}

.jcarousel-control-prev {
    left: 236px !important;
    top: 297px !important;
	z-index: 101;
	background-image: url('/local/templates/main/images/down-arrow.png');
}

.jcarousel-control-next {
    right: 236px !important;
    top: -28px !important;
	background-image: url('/local/templates/main/images/up-arrow.png');
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}