.item_comments{
	display: block;
	padding-left: 0;
}
.item_comments li{
	display: block;
	padding-bottom: 10px;
}
.item_comments_username{
	display: inline-block;
	color: #5d90bd;
	font-size: 14px;
}
.item_comments_date{
	display: inline-block;
	color: #b8b8b8;
	font-size: 14px;
	margin-left: 10px;
}
.item_comments_container p{
	margin-top: 5px;
	color: #3f3f3f;
	font-size: 14px;
}
.bx-catalog-tab-list { display:none; }
div.blog-comment-form {width: 100% !important;}

div.blog-comment .blog-author {
    font-size: 0.85em;
}

.blog-comment-content {
    font-size: 13px;
    overflow: hidden!important;
    padding-top: 0 !important;
}

div.blog-comment-buttons input {
    font-size: 13px !important;
    padding: 0 3px !important;
}

.blog-post-rating {
    padding: 10px 0 0 0;
}

@media (max-width:540px){
	.bx_soc_comments_div .bx-catalog-tab-list li a{
		font-size:11px;
	}
}

.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button,
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button_type_2	{
	padding:0 13px;
	height:25px;
	font-weight:bold;
	line-height:25px;
}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button  	{
	height:27px;
	line-height:27px;
}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button:hover  {}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button:active {}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button_type_2 		 {font-weight:bold}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button_type_2:hover {}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button_type_2:active{}

.bx_soc_comments_div.bx_important .blog-comment-nav {

}

.bx_soc_comments_div.bx_important .blog-comment-nav a,
.bx_soc_comments_div.bx_important .blog-comment-nav a:link,
.bx_soc_comments_div.bx_important .blog-comment-nav a:visited,
.bx_soc_comments_div.bx_important .blog-comment-info a,
.bx_soc_comments_div.bx_important .blog-comment-info a:link,
.bx_soc_comments_div.bx_important .blog-comment-info a:visited {
	text-decoration: none;
	color: #969696 !important;
}

.bx_soc_comments_div.bx_important .blog-comment-nav a:hover,
.bx_soc_comments_div.bx_important .blog-comment-nav a:active,
.bx_soc_comments_div.bx_important .blog-comment-info a:hover,
.bx_soc_comments_div.bx_important .blog-comment-info a:active {
	text-decoration: underline;
	color: #969696 !important;
}

.bx_soc_comments_div.bx_important .blog-comment-info a,
.bx_soc_comments_div.bx_important .blog-comment-info a:link,
.bx_soc_comments_div.bx_important .blog-comment-info a:visited {
	font-size: 0.85em;
}

.bx_soc_comments_div.bx_important .blog-comment-info a:hover,
.bx_soc_comments_div.bx_important .blog-comment-info a:active {
	font-size: 0.85em;
}