.section .status label {
color: #777777;
font-family: "Open Sans", arial;
font-size: 14px;
cursor: pointer;
padding-right: 32px;
background: url("/bitrix/templates/main/images/chekbox/check.png");
background-repeat: no-repeat;
padding-bottom: 5px;
}

.bx_section .status label {
color: #777777;
font-family: "Open Sans", arial;
font-size: 14px;
cursor: pointer;
padding-right: 32px;
background: url("/bitrix/templates/main/images/chekbox/check.png");
background-repeat: no-repeat;
padding-bottom: 5px;
}

#order_form_content div.pt8 {
color: #555;
font-family: "Open Sans", arial;
font-size: 14px;
cursor: pointer;
padding-right: 32px;
}

.section .status input[type='radio'] + label, .bx_section input[type='radio'] + label {
padding-left: 31px;
}

.section .status input[type='radio'] + label, .bx_section  input[type='radio'] + label {
background: url("/bitrix/templates/main/images/chekbox/check.png");
background-repeat: no-repeat;
padding-bottom: 5px;
}

.section .status  input[type='radio']:checked + label, .bx_section  input[type='radio']:checked + label {
background: url("/bitrix/templates/main/images/chekbox/cheked.png");
background-repeat: no-repeat;
}

.section .status input[type='radio'], .bx_section  input[type='radio'] {
opacity: 0;
cursor: pointer;
}

.bx_section strong{
font-family: "Open Sans Semibold", arial;
color: #333;
font-size: 13px;
display: block;
margin-top: -19px;
margin-bottom: -4px;
padding-left: 50px;
}

.section .left {
float: left;
}

.section {
display: inline-block;
float: left;
}

#order_form_content{
width: 563px;
float: left;
margin-right: 50px;
}

#order_form_content h4 {
font-family: "Open Sans Semibold", arial;
color: #333;
font-size: 14px;
padding-bottom: 13px;
margin-left: 18px;
}

#order_form_content input[type='text'] {
margin-top: 7px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 13px;
min-width: 563px;
margin-bottom: 8px;
border: 2px solid #ccc;
}

#order_form_content textarea {
resize: none;
width: 563px;
margin-top: 7px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 13px;
min-width: 563px;
height: 50px;
border: 2px solid #ccc;
margin-bottom: 8px;
}

#order_form_content select {
margin-top: 7px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 13px;
margin-bottom: 8px;
border: 2px solid #eee;
background: none;
width: 32%;
}

#order_form_content .bx_section {
margin-top: 19px;
display: inline-block;
}

.bx_section{
	float: left;
	width: 100%;
}

.bx_section p{
font-size: 13px;
font-family: "Open Sans", arial;
color: #555;
float: left;
display: block;
margin-left: 30px;
margin-top: 1px;
margin-bottom: -5px;
}

.bx_section b{
font-size: 13px;
color: red;
font-family: "Open Sans Semibold", arial;;
float: right;
}

#order_form_content .bx_section .name {
padding-right: 0;
}

#order_form_content .bx_result_price{
display: block;
margin-left: 20px;
margin-top: 6px;
margin-bottom: -5px;
}

#order_form_content .bx_section .bx_description p.pay{
display: block;
margin-left: 50px;
margin-top: 6px;
margin-bottom: -5px;
}

.bx_element{
display: inline-block;
}

#sale_order_props{
	margin-left: 18px;
}

#order_form_content .line {
border-bottom: 2px solid #eee;
}

#order_form_div .bx_ordercart_order_pay_center a{
text-decoration: none;
color: white;
font-family: "Open Sans Semibold", arial;
text-decoration: none;
font-size: 13px;
background: #e2001a;
padding-top: 5px;
padding-bottom: 8px;
padding-left: 56px;
padding-right: 48px;
border-radius: 0px;
}

.bx_ordercart_order_pay_center{
	width: 100%;
	text-align: left;
display: inline-block;
}

#order_form_div .bx_ordercart_order_pay {
    display: inline-block;
    width: 100%;
}

#order_form_div .bx_ordercart_order_pay .itog {
font-size: 16px;
font-family: "Open Sans Semibold", arial;
color: #777777;
display: inherit;
}

#order_form_div .bx_ordercart_order_pay .total {
font-size: 18px;
color: #e2001a;
font-family: "Open Sans", arial;
font-weight: bold;
display: inherit;
}