#horizontal-multilevel-menu
{

}

/*Links*/
#horizontal-multilevel-menu a
{
	display:block;
	/*padding:0.3em 0.8em;*/
	text-decoration:none;
	text-align:center;
}


#horizontal-multilevel-menu li
{
	float:left;
	min-width: 64px;
}
#horizontal-multilevel-menu li:hover
{

}
.main .mainmenu li.first:hover {
	background: url('/bitrix/templates/main/images/foHover.gif') repeat-x 0 0;
}
.main .mainmenu li.first:last-child .drop-wrap { right: 0; }
/*Root items*/
#horizontal-multilevel-menu li a.root-item
{
	color:#fff;
	padding: 6px 17px;
	border-right: 1px solid #003B6A;
}
#horizontal-multilevel-menu .first:last-child a
{
	border-right: 0px;
}

/*Root menu selected*/
#horizontal-multilevel-menu li a.root-item-selected
{
	color: #fff;
	/*padding: 7px 36px 6px 35px;*/
	padding: 7px 20px 6px 14px;
	border-right: 1px solid #003B6A;
}
#horizontal-multilevel-menu li:hover a.root-item-selected
{
	color:#304764;
}

/*Root items: hover*/
#horizontal-multilevel-menu li:hover a.root-item, #horizontal-multilevel-menu li.jshover a.root-item
{
color:#304764;
}

/*Denied items*/
#horizontal-multilevel-menu a.denied
{
	background: url(images/lock.gif) center right no-repeat;
}

/*Child-items: hover*/
#horizontal-multilevel-menu li:hover, #horizontal-multilevel-menu li.jshover
{
	color:#fff;
}

/*Child-items selected*/
#horizontal-multilevel-menu li.item-selected
{
	background:#D6D6D6;
	color:#fff;
}

/*Item link*/
#horizontal-multilevel-menu li ul a
{
	text-align:left;
	float: left;
        width:235px;
}

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}