.bx_news_detail {}
.bx_news_detail{
	font-size: 80%;
}
.bx_news_detail h3{margin-top:20px;margin-bottom:10px}

.bx_news_detail p{margin:0 0 10px}

.bx_news_detail .date {
	color: #444;
	display: inline-block;
	font-size: 14px;
	padding: 10px 0;
}

.bx_news_detail h2 a:link {
	color: #0073a3;
	font-size: 16px;
}
.bx_news_detail a {
	color: #0073a3;
	cursor: pointer;
}

.bx_news_detail h2{
	color:inherit;
	font-weight:500;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height:1.1;
}

.bx_news_detail table tr td {
	border: 1px solid #d3d3d3;
	padding: 3px;
	display: table-cell;
	vertical-align: inherit;
}