/* catalog_comments */
.bx_soc_comments_div.bx_important.bx_green .bx_bt_button  				{
background: #e2001a;
    border: 2px solid #e2001a;
    color: #fff;
    display: inline-block;
    font-family: "Open Sans Semibold",arial;
    font-size: 12px;
    padding: 7px 30px;
    vertical-align: top;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
.bx_soc_comments_div.bx_important.bx_green .bx_bt_button:hover  		{

}
.bx_soc_comments_div.bx_important.bx_green .bx_bt_button:active  		{
 
}