.maincontent .filter {
    border: 2px solid #e8e8e8;
    float: left;
    margin-right: 14px;
    width: 280px;	}
    /* line 729, ../sass/screen.scss */
    .maincontent .filter h3 {
      color: #87888a;
      font-family: "Open Sans", arial;
      font-size: 14px;
      letter-spacing: 0.1px;
      padding-top: 8px;
      padding-left: 14px;
      padding-bottom: 15px; }
    /* line 739, ../sass/screen.scss */
    .maincontent .filter form {
      padding-bottom: 0px; }
    /* line 744, ../sass/screen.scss */
    .maincontent .filter .slider_range {
      padding-bottom: 11px;
      padding-left: 10px;
      margin-right: 13px; }
    /* line 746, ../sass/screen.scss */
    .maincontent .filter .border {
      margin-left: 11px;
      margin-right: 11px;
      padding-bottom: 13px;
      border-bottom: 1px solid #eeeeee; }
      /* line 752, ../sass/screen.scss */
      .maincontent .filter .border label {
        font-family: "Open Sans", arial;
        font-size: 14px;
        color: #444444;
        padding-right: 5px; }
      /* line 759, ../sass/screen.scss */
      .maincontent .filter .border input {
        font-family: "Open Sans", arial;
        font-size: 14px;
        color: #444444;
        padding: 1px;
        letter-spacing: 0.1px;
        border: 2px solid #eeeeee; }
      /* line 768, ../sass/screen.scss */
      .maincontent .filter .border #mincost {
        width: 53px;
        letter-spacing: 0.1px;
        padding-left: 8px;
        margin-right: 49px; }
      /* line 775, ../sass/screen.scss */
      .maincontent .filter .border #maxcost {
        padding-right: 25px;
        width: 50px;
        padding-left: 8px; }
    /* line 784, ../sass/screen.scss */
    
    .maincontent .filter .check_block a.role {
      text-decoration: none;
      font-family: "Open Sans", arial;
      font-size: 14px;
      color: #333;
      background: #eeeeee;
      padding: 5px 0px 6px 10px;
      /*pointer-events: none;*/
	}
    /* line 794, ../sass/screen.scss */
    .maincontent .filter .check_block a.role:before {
      content: url("img/darkdarr.png");
      position: relative;
      padding-right: 10px;
      bottom: 2px; }
    /* line 801, ../sass/screen.scss */
    .maincontent .filter .check_block a.role {
      display: block; }
    /* line 802, ../sass/screen.scss */
    .maincontent .filter .check_block .drill_type {
      padding-right: 175px; }
    /* line 803, ../sass/screen.scss */
    .maincontent .filter .check_block .material {
      padding-right: 122px; }
    /* line 805, ../sass/screen.scss */
    .maincontent .filter .check_block .first_box, .maincontent .filter .check_block .all_box {
      padding-top: 20px;
      margin-left: 11px;
      padding-bottom: 8px; }
    /* line 806, ../sass/screen.scss */
    .maincontent .filter .check_block .first_box input {
      margin-right: 13px; }
    /* line 808, ../sass/screen.scss */
    .maincontent .filter .check_block .first_box div {
      padding-bottom: 13px; }
    /* line 812, ../sass/screen.scss */
    .maincontent .filter .check_block label {
      font-family: "Open Sans", arial;
      font-size: 13px;
      color: #333; }
    /* line 818, ../sass/screen.scss */
    .maincontent .filter .check_block #SDX_MAX {
      margin-right: 12px; }
    /* line 819, ../sass/screen.scss */
    .maincontent .filter .check_block #SDS {
      margin-left: 28px;
      margin-right: 8px; }
    /* line 824, ../sass/screen.scss */
    .maincontent .filter .check_block .second_box div {
      padding-bottom: 12px; }
    /* line 830, ../sass/screen.scss */
    .maincontent .filter .check_block .third_box div {
      padding-bottom: 13px; }
    /* line 832, ../sass/screen.scss */
    .maincontent .filter .check_block #standart {
      margin-right: 11px; }
    /* line 834, ../sass/screen.scss */
    .maincontent .filter .check_block #expert {
      margin-right: 11px; }
    /* line 836, ../sass/screen.scss */
    .maincontent .filter .check_block .reset_filter {
      padding-right: 73px;
      font-size: 11px;
      padding-left: 59px; }
    /* line 838, ../sass/screen.scss */
    /*.maincontent .filter .check_block .reset_filter:before {
      content: url("../img/catalog/reset.png");
      position: relative;
      padding-right: 10px;
      bottom: -1px; }*/
    /* line 845, ../sass/screen.scss */
    .maincontent .filter .check_block .end_filter {
      padding-bottom: 0px; }
      
      
      /* Задаем сброс обтекания */
.clear {
	margin-top: -1px;
	height: 1px;
	clear:both;
	zoom: 1;
}		
/* Slider */
.slider {
	/* Ширина контейнера */
	width: 230px;
	/* Внешние тступы сверху и снизу */
	margin: 50px auto;
	/* Внутренние отступы для ссылок navy */
	padding: 0 30px;
	/* Позиционирование */
	position: relative;
}
/* Двойной клик по кнопкам вперед/назад вызывает выделение всех элементов слайдера,
поэтому предотвращаем это */
.slider::-moz-selection { background: transparent; color: #fff; text-shadow: none; }
.slider::selection { background: transparent; color: #fff; text-shadow: none; }

.slide-list {
	position: relative;
	margin: 0;
	padding: 0;
	/* Скроем то что выходит за границы */
	overflow: hidden;
}
.slide-wrap {
	position: relative;
	left: 0px;
	top: 0;
	/* максимально возможная ширина обертки слайдера */
	width: 10000000px;
}
.slide-item {
	/* Ширина слайда */
	width: 213px;
	/* Внутренние отступы */
	padding: 10px;
	/* Обтекание */
	float: left;
}
.slide-title {
	/* Шрифт */
	font: bold 16px monospace;
	/* Указываем, что элемент блочный */
	display: block;
}

/*! jQuery UI - v1.11.2 - 2014-12-13
* http://jqueryui.com
* Includes: core.css, slider.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=%233B6C95&bgTextureHeader=highlight_soft&bgImgOpacityHeader=0&borderColorHeader=%233B6C95&fcHeader=%233B6C95&iconColorHeader=%233B6C95&bgColorContent=%23eeeeee&bgTextureContent=flat&bgImgOpacityContent=0&borderColorContent=%233B6C95&fcContent=%233B6C95&iconColorContent=%233B6C95&bgColorDefault=%233B6C95&bgTextureDefault=glass&bgImgOpacityDefault=0&borderColorDefault=%233B6C95&fcDefault=%233B6C95&iconColorDefault=%233B6C95&bgColorHover=%233B6C95&bgTextureHover=glass&bgImgOpacityHover=0&borderColorHover=%233B6C95&fcHover=%233B6C95&iconColorHover=%233B6C95&bgColorActive=%233B6C95&bgTextureActive=glass&bgImgOpacityActive=0&borderColorActive=%233B6C95&fcActive=%233B6C95&iconColorActive=%233B6C95&bgColorHighlight=%23fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=%23fcefa1&fcHighlight=%23363636&iconColorHighlight=%232e83ff&bgColorError=%23fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=%23cd0a0a&fcError=%23cd0a0a&iconColorError=%23cd0a0a&bgColorOverlay=%23aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=%23aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.slider_range .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 11px;
	height: 11px;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -5px;
	margin-left: -6px;
}
.ui-slider-handle:focus {
	outline: none;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	/*border: 1px solid #3B6C95;*/
	background: #eeeeee /*url("images/ui-bg_flat_0_eeeeee_40x100.png") 50% 50% repeat-x*/;
	color: #3B6C95;
}
.ui-widget-content a {
	color: #3B6C95;
}
.ui-widget-header {
	border: 1px solid #3B6C95;
	background: #3B6C95 /*url("images/ui-bg_highlight-soft_0_3B6C95_1x100.png") 50% 50% repeat-x*/;
	color: #3B6C95;
	font-weight: bold;
}
.ui-widget-header a {
	color: #3B6C95;
}

/* Interaction states
----------------------------------*/
.slider_range .ui-state-default,
.slider_range .ui-widget-content .ui-state-default,
.slider_range .ui-widget-header .ui-state-default {
	border: 1px solid #3B6C95;
	background: #3B6C95 /* url("images/ui-bg_glass_0_3B6C95_1x400.png") 50% 50% repeat-x*/;
	font-weight: normal;
	color: #3B6C95;
}
.slider_range .ui-state-default a,
.slider_range .ui-state-default a:link,
.slider_range .ui-state-default a:visited {
	color: #3B6C95;
	text-decoration: none;
}
.slider_range .ui-state-hover,
.slider_range .ui-widget-content .ui-state-hover,
.slider_range .ui-widget-header .ui-state-hover,
.slider_range .ui-state-focus,
.slider_range .ui-widget-content .ui-state-focus,
.slider_range .ui-widget-header .ui-state-focus {
	border: 1px solid #3B6C95;
	background: #3B6C95 url("images/ui-bg_glass_0_3B6C95_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #3B6C95;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #3B6C95;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #3B6C95;
	background: #3B6C95 url("images/ui-bg_glass_0_3B6C95_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #3B6C95;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #3B6C95;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee url("images/ui-bg_glass_55_fbf9ee_1x400.png") 50% 50% repeat-x;
	color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec url("images/ui-bg_glass_95_fef1ec_1x400.png") 50% 50% repeat-x;
	color: #cd0a0a;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70); /* support: IE8 */
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35); /* support: IE8 */
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* support: IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("images/ui-icons_3B6C95_256x240.png");
}
.ui-widget-header .ui-icon {
	background-image: url("images/ui-icons_3B6C95_256x240.png");
}
.ui-state-default .ui-icon {
	background-image: url("images/ui-icons_3B6C95_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url("images/ui-icons_3B6C95_256x240.png");
}
.ui-state-active .ui-icon {
	background-image: url("images/ui-icons_3B6C95_256x240.png");
}
.ui-state-highlight .ui-icon {
	background-image: url("images/ui-icons_2e83ff_256x240.png");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url("images/ui-icons_cd0a0a_256x240.png");
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.slider_range .ui-corner-all,
.slider_range .ui-corner-top,
.slider_range .ui-corner-left,
.slider_range .ui-corner-tl {
	border-top-left-radius: 4px;
}
.slider_range .ui-corner-all,
.slider_range .ui-corner-top,
.slider_range .ui-corner-right,
.slider_range .ui-corner-tr {
	border-top-right-radius: 4px;
}
.slider_range .ui-corner-all,
.slider_range .ui-corner-bottom,
.slider_range .ui-corner-left,
.slider_range .ui-corner-bl {
	border-bottom-left-radius: 4px;
}
.slider_range .ui-corner-all,
.slider_range .ui-corner-bottom,
.slider_range .ui-corner-right,
.slider_range .ui-corner-br {
	border-radius: 26px;
	height: 2px;
}

/* Overlays */
.ui-widget-overlay {
	background: #aaaaaa url("images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30); /* support: IE8 */
}
.ui-widget-shadow {
	margin: -8px 0 0 -8px;
	padding: 8px;
	background: #aaaaaa url("images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30); /* support: IE8 */
	border-radius: 8px;
}


.maincontent .filter .check_block button[type="reset"] {
        text-decoration: none;
        font-family: "Open Sans", arial;
        font-size: 14px;
        color: #333;
        background: #eeeeee;
        padding: 5px 0px 6px 10px;
	border: none;
	width: 100%;
	cursor: pointer;}
      /* line 800, ../sass/screen.scss */
      .maincontent .filter .check_block button[type="reset"]:before {
        content: url("img/reset.png");
        position: relative;
        padding-right: 10px;
        bottom: 2px; }