/* Tiny Carousel */
.jcarousel { height: 1%; overflow: hidden; padding: 0 0 10px; }
.jcarousel .viewport { float: left;  width: 403px !important; height: 88px; overflow: hidden; position: relative; text-align: left;}
.jcarousel .buttons {
    background: #C01313;
    border-radius: 35px;
    display: block;
    margin: 30px 10px 0 0;
    float: left;
    width: 35px;
    height: 35px;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
}
.jcarousel .next {
    margin: 30px 0 0 10px;
}
.jcarousel .buttons:hover {
    color: #C01313;
    background: #fff;
}
.jcarousel .disable { visibility: hidden; }
.jcarousel .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0; top: 0; }
.jcarousel .overview li { float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; border: 1px solid #dcdcdc; width: 236px; }
