/* General settings */
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased; }
div.selector, div.checker, div.button, div.radio, div.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */ }
  div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus {
    outline: 0; }
div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
  margin: 0;
  padding: 0; }

.highContrastDetect {
  background: url("../images/bg-input.png") repeat-x 0 0;
  width: 0px;
  height: 0px; }

/* Checkbox */
div.checker {
  position: relative; }
  div.checker, div.checker span, div.checker input {
    width: 20px;
    height: 20px; }
  div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    text-align: center;
    background-position: -101px -83px; }
   div.checker span.checked {
      background-position: -130px -83px; }
	  
  div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
	cursor: pointer;
    zoom: 1; }

/* Checker */
div.checker {
  margin-right: 5px; }

/* Radio */
div.radio {
  position: relative; }
  div.radio, div.radio span, div.radio input {
    width: 20px;
    height: 20px;
	margin-right: 10px;}
  div.radio span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: -101px -83px; }
    div.radio span.checked {
      background-position: -130px -83px; }
  div.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
	cursor: pointer;
    text-align: center; }
  /*div.radio.active span {
    background-position: -18px -18px -279px; }
    div.radio.active span.checked {
      background-position: -90px -279px; }
  div.radio.hover span, div.radio.focus span {
    background-position: -36px -36px -279px; }
    div.radio.hover span.checked, div.radio.focus span.checked {
      background-position: -108px -279px; }
  div.radio.hover.active span, div.radio.focus.active span {
    background-position: -54px -279px; }
    div.radio.hover.active span.checked, div.radio.focus.active span.checked {
      background-position: -126px -279px; }
  div.radio.disabled span, div.radio.disabled.active span {
    background-position: -144px -279px; }
    div.radio.disabled span.checked, div.radio.disabled.active span.checked {
      background-position: -162px -279px; }*/
