button.search_btn {
font-family: "Open Sans Semibold", arial;
font-size: 11px;
color: #fff;
background: #e2001a;
padding: 0px 0px 0px 0px;
text-decoration: none;
white-space: nowrap;
border: none;
border-bottom: 2px solid #bb0b14;
height: 32px;
width: 32px;
vertical-align: bottom;
border: none;
}